/*
 * ChronoSheets API
 * <div style='font-size: 14px!important;font-family: Open Sans,sans-serif!important;color: #3b4151!important;'><p>      ChronoSheets is a flexible timesheet solution for small to medium businesses, it is free for small teams of up to 3 and there are iOS and Android apps available.  Use the ChronoSheets API to create your own custom integrations.  Before starting, sign up for a ChronoSheets account at <a target='_BLANK' href='http://tsheets.xyz/signup'>http://tsheets.xyz/signup</a>.  </p></div><div id='cs-extra-info'></div>
 *
 * The version of the OpenAPI document: v1
 * 
 *
 * NOTE: This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * https://openapi-generator.tech
 * Do not edit the class manually.
 */


package ChronoSheetsClientLibApi;

import ChronoSheetsClient.ApiCallback;
import ChronoSheetsClient.ApiClient;
import ChronoSheetsClient.ApiException;
import ChronoSheetsClient.ApiResponse;
import ChronoSheetsClient.Configuration;
import ChronoSheetsClient.Pair;
import ChronoSheetsClient.ProgressRequestBody;
import ChronoSheetsClient.ProgressResponseBody;

import com.google.gson.reflect.TypeToken;

import java.io.IOException;


import ChronoSheetsClientLibModel.ApiResponseBoolean;
import ChronoSheetsClientLibModel.ApiResponseForPaginatedListTimesheetFileAttachment;
import ChronoSheetsClientLibModel.ApiResponseTimesheetFileAttachment;
import org.threeten.bp.OffsetDateTime;

import java.lang.reflect.Type;
import java.util.ArrayList;
import java.util.HashMap;
import java.util.List;
import java.util.Map;

public class FileAttachmentsApi {
    private ApiClient localVarApiClient;

    public FileAttachmentsApi() {
        this(Configuration.getDefaultApiClient());
    }

    public FileAttachmentsApi(ApiClient apiClient) {
        this.localVarApiClient = apiClient;
    }

    public ApiClient getApiClient() {
        return localVarApiClient;
    }

    public void setApiClient(ApiClient apiClient) {
        this.localVarApiClient = apiClient;
    }

    /**
     * Build call for fileAttachmentsDeleteTimesheetFileAttachment
     * @param fileAttachmentId The Id of the file attachment to delete (required)
     * @param xChronosheetsAuth The ChronoSheets Auth Token (required)
     * @param _callback Callback for upload/download progress
     * @return Call to execute
     * @throws ApiException If fail to serialize the request body object
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td> OK </td><td>  -  </td></tr>
     </table>
     */
    public okhttp3.Call fileAttachmentsDeleteTimesheetFileAttachmentCall(Integer fileAttachmentId, String xChronosheetsAuth, final ApiCallback _callback) throws ApiException {
        Object localVarPostBody = null;

        // create path and map variables
        String localVarPath = "/FileAttachments/DeleteTimesheetFileAttachment";

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();
        Map<String, String> localVarHeaderParams = new HashMap<String, String>();
        Map<String, String> localVarCookieParams = new HashMap<String, String>();
        Map<String, Object> localVarFormParams = new HashMap<String, Object>();

        if (fileAttachmentId != null) {
            localVarQueryParams.addAll(localVarApiClient.parameterToPair("FileAttachmentId", fileAttachmentId));
        }

        if (xChronosheetsAuth != null) {
            localVarHeaderParams.put("x-chronosheets-auth", localVarApiClient.parameterToString(xChronosheetsAuth));
        }

        final String[] localVarAccepts = {
            "application/json", "text/json", "application/xml", "text/xml", "multipart/form-data"
        };
        final String localVarAccept = localVarApiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) {
            localVarHeaderParams.put("Accept", localVarAccept);
        }

        final String[] localVarContentTypes = {
            
        };
        final String localVarContentType = localVarApiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        String[] localVarAuthNames = new String[] {  };
        return localVarApiClient.buildCall(localVarPath, "DELETE", localVarQueryParams, localVarCollectionQueryParams, localVarPostBody, localVarHeaderParams, localVarCookieParams, localVarFormParams, localVarAuthNames, _callback);
    }

    @SuppressWarnings("rawtypes")
    private okhttp3.Call fileAttachmentsDeleteTimesheetFileAttachmentValidateBeforeCall(Integer fileAttachmentId, String xChronosheetsAuth, final ApiCallback _callback) throws ApiException {
        
        // verify the required parameter 'fileAttachmentId' is set
        if (fileAttachmentId == null) {
            throw new ApiException("Missing the required parameter 'fileAttachmentId' when calling fileAttachmentsDeleteTimesheetFileAttachment(Async)");
        }
        
        // verify the required parameter 'xChronosheetsAuth' is set
        if (xChronosheetsAuth == null) {
            throw new ApiException("Missing the required parameter 'xChronosheetsAuth' when calling fileAttachmentsDeleteTimesheetFileAttachment(Async)");
        }
        

        okhttp3.Call localVarCall = fileAttachmentsDeleteTimesheetFileAttachmentCall(fileAttachmentId, xChronosheetsAuth, _callback);
        return localVarCall;

    }

    /**
     * Delete a particular timesheet file attachment  Requires the &#39;SubmitTimesheets&#39; permission.
     * 
     * @param fileAttachmentId The Id of the file attachment to delete (required)
     * @param xChronosheetsAuth The ChronoSheets Auth Token (required)
     * @return ApiResponseBoolean
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td> OK </td><td>  -  </td></tr>
     </table>
     */
    public ApiResponseBoolean fileAttachmentsDeleteTimesheetFileAttachment(Integer fileAttachmentId, String xChronosheetsAuth) throws ApiException {
        ApiResponse<ApiResponseBoolean> localVarResp = fileAttachmentsDeleteTimesheetFileAttachmentWithHttpInfo(fileAttachmentId, xChronosheetsAuth);
        return localVarResp.getData();
    }

    /**
     * Delete a particular timesheet file attachment  Requires the &#39;SubmitTimesheets&#39; permission.
     * 
     * @param fileAttachmentId The Id of the file attachment to delete (required)
     * @param xChronosheetsAuth The ChronoSheets Auth Token (required)
     * @return ApiResponse&lt;ApiResponseBoolean&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td> OK </td><td>  -  </td></tr>
     </table>
     */
    public ApiResponse<ApiResponseBoolean> fileAttachmentsDeleteTimesheetFileAttachmentWithHttpInfo(Integer fileAttachmentId, String xChronosheetsAuth) throws ApiException {
        okhttp3.Call localVarCall = fileAttachmentsDeleteTimesheetFileAttachmentValidateBeforeCall(fileAttachmentId, xChronosheetsAuth, null);
        Type localVarReturnType = new TypeToken<ApiResponseBoolean>(){}.getType();
        return localVarApiClient.execute(localVarCall, localVarReturnType);
    }

    /**
     * Delete a particular timesheet file attachment  Requires the &#39;SubmitTimesheets&#39; permission. (asynchronously)
     * 
     * @param fileAttachmentId The Id of the file attachment to delete (required)
     * @param xChronosheetsAuth The ChronoSheets Auth Token (required)
     * @param _callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td> OK </td><td>  -  </td></tr>
     </table>
     */
    public okhttp3.Call fileAttachmentsDeleteTimesheetFileAttachmentAsync(Integer fileAttachmentId, String xChronosheetsAuth, final ApiCallback<ApiResponseBoolean> _callback) throws ApiException {

        okhttp3.Call localVarCall = fileAttachmentsDeleteTimesheetFileAttachmentValidateBeforeCall(fileAttachmentId, xChronosheetsAuth, _callback);
        Type localVarReturnType = new TypeToken<ApiResponseBoolean>(){}.getType();
        localVarApiClient.executeAsync(localVarCall, localVarReturnType, _callback);
        return localVarCall;
    }
    /**
     * Build call for fileAttachmentsGetFileAttachmentById
     * @param fileAttachmentId The ID of the file attachment (required)
     * @param xChronosheetsAuth The ChronoSheets Auth Token (required)
     * @param _callback Callback for upload/download progress
     * @return Call to execute
     * @throws ApiException If fail to serialize the request body object
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td> OK </td><td>  -  </td></tr>
     </table>
     */
    public okhttp3.Call fileAttachmentsGetFileAttachmentByIdCall(Integer fileAttachmentId, String xChronosheetsAuth, final ApiCallback _callback) throws ApiException {
        Object localVarPostBody = null;

        // create path and map variables
        String localVarPath = "/FileAttachments/GetFileAttachmentById";

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();
        Map<String, String> localVarHeaderParams = new HashMap<String, String>();
        Map<String, String> localVarCookieParams = new HashMap<String, String>();
        Map<String, Object> localVarFormParams = new HashMap<String, Object>();

        if (fileAttachmentId != null) {
            localVarQueryParams.addAll(localVarApiClient.parameterToPair("FileAttachmentId", fileAttachmentId));
        }

        if (xChronosheetsAuth != null) {
            localVarHeaderParams.put("x-chronosheets-auth", localVarApiClient.parameterToString(xChronosheetsAuth));
        }

        final String[] localVarAccepts = {
            "application/json", "text/json", "application/xml", "text/xml", "multipart/form-data"
        };
        final String localVarAccept = localVarApiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) {
            localVarHeaderParams.put("Accept", localVarAccept);
        }

        final String[] localVarContentTypes = {
            
        };
        final String localVarContentType = localVarApiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        String[] localVarAuthNames = new String[] {  };
        return localVarApiClient.buildCall(localVarPath, "GET", localVarQueryParams, localVarCollectionQueryParams, localVarPostBody, localVarHeaderParams, localVarCookieParams, localVarFormParams, localVarAuthNames, _callback);
    }

    @SuppressWarnings("rawtypes")
    private okhttp3.Call fileAttachmentsGetFileAttachmentByIdValidateBeforeCall(Integer fileAttachmentId, String xChronosheetsAuth, final ApiCallback _callback) throws ApiException {
        
        // verify the required parameter 'fileAttachmentId' is set
        if (fileAttachmentId == null) {
            throw new ApiException("Missing the required parameter 'fileAttachmentId' when calling fileAttachmentsGetFileAttachmentById(Async)");
        }
        
        // verify the required parameter 'xChronosheetsAuth' is set
        if (xChronosheetsAuth == null) {
            throw new ApiException("Missing the required parameter 'xChronosheetsAuth' when calling fileAttachmentsGetFileAttachmentById(Async)");
        }
        

        okhttp3.Call localVarCall = fileAttachmentsGetFileAttachmentByIdCall(fileAttachmentId, xChronosheetsAuth, _callback);
        return localVarCall;

    }

    /**
     * Get a particular file attachment by ID.  User must own the file attachment for access.
     * 
     * @param fileAttachmentId The ID of the file attachment (required)
     * @param xChronosheetsAuth The ChronoSheets Auth Token (required)
     * @return ApiResponseTimesheetFileAttachment
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td> OK </td><td>  -  </td></tr>
     </table>
     */
    public ApiResponseTimesheetFileAttachment fileAttachmentsGetFileAttachmentById(Integer fileAttachmentId, String xChronosheetsAuth) throws ApiException {
        ApiResponse<ApiResponseTimesheetFileAttachment> localVarResp = fileAttachmentsGetFileAttachmentByIdWithHttpInfo(fileAttachmentId, xChronosheetsAuth);
        return localVarResp.getData();
    }

    /**
     * Get a particular file attachment by ID.  User must own the file attachment for access.
     * 
     * @param fileAttachmentId The ID of the file attachment (required)
     * @param xChronosheetsAuth The ChronoSheets Auth Token (required)
     * @return ApiResponse&lt;ApiResponseTimesheetFileAttachment&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td> OK </td><td>  -  </td></tr>
     </table>
     */
    public ApiResponse<ApiResponseTimesheetFileAttachment> fileAttachmentsGetFileAttachmentByIdWithHttpInfo(Integer fileAttachmentId, String xChronosheetsAuth) throws ApiException {
        okhttp3.Call localVarCall = fileAttachmentsGetFileAttachmentByIdValidateBeforeCall(fileAttachmentId, xChronosheetsAuth, null);
        Type localVarReturnType = new TypeToken<ApiResponseTimesheetFileAttachment>(){}.getType();
        return localVarApiClient.execute(localVarCall, localVarReturnType);
    }

    /**
     * Get a particular file attachment by ID.  User must own the file attachment for access. (asynchronously)
     * 
     * @param fileAttachmentId The ID of the file attachment (required)
     * @param xChronosheetsAuth The ChronoSheets Auth Token (required)
     * @param _callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td> OK </td><td>  -  </td></tr>
     </table>
     */
    public okhttp3.Call fileAttachmentsGetFileAttachmentByIdAsync(Integer fileAttachmentId, String xChronosheetsAuth, final ApiCallback<ApiResponseTimesheetFileAttachment> _callback) throws ApiException {

        okhttp3.Call localVarCall = fileAttachmentsGetFileAttachmentByIdValidateBeforeCall(fileAttachmentId, xChronosheetsAuth, _callback);
        Type localVarReturnType = new TypeToken<ApiResponseTimesheetFileAttachment>(){}.getType();
        localVarApiClient.executeAsync(localVarCall, localVarReturnType, _callback);
        return localVarCall;
    }
    /**
     * Build call for fileAttachmentsGetMyFileAttachments
     * @param startDate The Start date of the date range.  File attachments after this date will be obtained. (required)
     * @param endDate The End date of the date range.  File attachments before this date will be obtained. (required)
     * @param xChronosheetsAuth The ChronoSheets Auth Token (required)
     * @param skip Skip this many File attachments (optional)
     * @param take Take this many File attachments (optional)
     * @param _callback Callback for upload/download progress
     * @return Call to execute
     * @throws ApiException If fail to serialize the request body object
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td> OK </td><td>  -  </td></tr>
     </table>
     */
    public okhttp3.Call fileAttachmentsGetMyFileAttachmentsCall(OffsetDateTime startDate, OffsetDateTime endDate, String xChronosheetsAuth, Integer skip, Integer take, final ApiCallback _callback) throws ApiException {
        Object localVarPostBody = null;

        // create path and map variables
        String localVarPath = "/FileAttachments/GetMyFileAttachments";

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();
        Map<String, String> localVarHeaderParams = new HashMap<String, String>();
        Map<String, String> localVarCookieParams = new HashMap<String, String>();
        Map<String, Object> localVarFormParams = new HashMap<String, Object>();

        if (startDate != null) {
            localVarQueryParams.addAll(localVarApiClient.parameterToPair("StartDate", startDate));
        }

        if (endDate != null) {
            localVarQueryParams.addAll(localVarApiClient.parameterToPair("EndDate", endDate));
        }

        if (skip != null) {
            localVarQueryParams.addAll(localVarApiClient.parameterToPair("Skip", skip));
        }

        if (take != null) {
            localVarQueryParams.addAll(localVarApiClient.parameterToPair("Take", take));
        }

        if (xChronosheetsAuth != null) {
            localVarHeaderParams.put("x-chronosheets-auth", localVarApiClient.parameterToString(xChronosheetsAuth));
        }

        final String[] localVarAccepts = {
            "application/json", "text/json", "application/xml", "text/xml", "multipart/form-data"
        };
        final String localVarAccept = localVarApiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) {
            localVarHeaderParams.put("Accept", localVarAccept);
        }

        final String[] localVarContentTypes = {
            
        };
        final String localVarContentType = localVarApiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        String[] localVarAuthNames = new String[] {  };
        return localVarApiClient.buildCall(localVarPath, "GET", localVarQueryParams, localVarCollectionQueryParams, localVarPostBody, localVarHeaderParams, localVarCookieParams, localVarFormParams, localVarAuthNames, _callback);
    }

    @SuppressWarnings("rawtypes")
    private okhttp3.Call fileAttachmentsGetMyFileAttachmentsValidateBeforeCall(OffsetDateTime startDate, OffsetDateTime endDate, String xChronosheetsAuth, Integer skip, Integer take, final ApiCallback _callback) throws ApiException {
        
        // verify the required parameter 'startDate' is set
        if (startDate == null) {
            throw new ApiException("Missing the required parameter 'startDate' when calling fileAttachmentsGetMyFileAttachments(Async)");
        }
        
        // verify the required parameter 'endDate' is set
        if (endDate == null) {
            throw new ApiException("Missing the required parameter 'endDate' when calling fileAttachmentsGetMyFileAttachments(Async)");
        }
        
        // verify the required parameter 'xChronosheetsAuth' is set
        if (xChronosheetsAuth == null) {
            throw new ApiException("Missing the required parameter 'xChronosheetsAuth' when calling fileAttachmentsGetMyFileAttachments(Async)");
        }
        

        okhttp3.Call localVarCall = fileAttachmentsGetMyFileAttachmentsCall(startDate, endDate, xChronosheetsAuth, skip, take, _callback);
        return localVarCall;

    }

    /**
     * Get my file attachments.  Get files you&#39;ve attached to timesheets.
     * 
     * @param startDate The Start date of the date range.  File attachments after this date will be obtained. (required)
     * @param endDate The End date of the date range.  File attachments before this date will be obtained. (required)
     * @param xChronosheetsAuth The ChronoSheets Auth Token (required)
     * @param skip Skip this many File attachments (optional)
     * @param take Take this many File attachments (optional)
     * @return ApiResponseForPaginatedListTimesheetFileAttachment
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td> OK </td><td>  -  </td></tr>
     </table>
     */
    public ApiResponseForPaginatedListTimesheetFileAttachment fileAttachmentsGetMyFileAttachments(OffsetDateTime startDate, OffsetDateTime endDate, String xChronosheetsAuth, Integer skip, Integer take) throws ApiException {
        ApiResponse<ApiResponseForPaginatedListTimesheetFileAttachment> localVarResp = fileAttachmentsGetMyFileAttachmentsWithHttpInfo(startDate, endDate, xChronosheetsAuth, skip, take);
        return localVarResp.getData();
    }

    /**
     * Get my file attachments.  Get files you&#39;ve attached to timesheets.
     * 
     * @param startDate The Start date of the date range.  File attachments after this date will be obtained. (required)
     * @param endDate The End date of the date range.  File attachments before this date will be obtained. (required)
     * @param xChronosheetsAuth The ChronoSheets Auth Token (required)
     * @param skip Skip this many File attachments (optional)
     * @param take Take this many File attachments (optional)
     * @return ApiResponse&lt;ApiResponseForPaginatedListTimesheetFileAttachment&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td> OK </td><td>  -  </td></tr>
     </table>
     */
    public ApiResponse<ApiResponseForPaginatedListTimesheetFileAttachment> fileAttachmentsGetMyFileAttachmentsWithHttpInfo(OffsetDateTime startDate, OffsetDateTime endDate, String xChronosheetsAuth, Integer skip, Integer take) throws ApiException {
        okhttp3.Call localVarCall = fileAttachmentsGetMyFileAttachmentsValidateBeforeCall(startDate, endDate, xChronosheetsAuth, skip, take, null);
        Type localVarReturnType = new TypeToken<ApiResponseForPaginatedListTimesheetFileAttachment>(){}.getType();
        return localVarApiClient.execute(localVarCall, localVarReturnType);
    }

    /**
     * Get my file attachments.  Get files you&#39;ve attached to timesheets. (asynchronously)
     * 
     * @param startDate The Start date of the date range.  File attachments after this date will be obtained. (required)
     * @param endDate The End date of the date range.  File attachments before this date will be obtained. (required)
     * @param xChronosheetsAuth The ChronoSheets Auth Token (required)
     * @param skip Skip this many File attachments (optional)
     * @param take Take this many File attachments (optional)
     * @param _callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td> OK </td><td>  -  </td></tr>
     </table>
     */
    public okhttp3.Call fileAttachmentsGetMyFileAttachmentsAsync(OffsetDateTime startDate, OffsetDateTime endDate, String xChronosheetsAuth, Integer skip, Integer take, final ApiCallback<ApiResponseForPaginatedListTimesheetFileAttachment> _callback) throws ApiException {

        okhttp3.Call localVarCall = fileAttachmentsGetMyFileAttachmentsValidateBeforeCall(startDate, endDate, xChronosheetsAuth, skip, take, _callback);
        Type localVarReturnType = new TypeToken<ApiResponseForPaginatedListTimesheetFileAttachment>(){}.getType();
        localVarApiClient.executeAsync(localVarCall, localVarReturnType, _callback);
        return localVarCall;
    }
}
