/*
 * ChronoSheets API
 * <div style='font-size: 14px!important;font-family: Open Sans,sans-serif!important;color: #3b4151!important;'><p>      ChronoSheets is a flexible timesheet solution for small to medium businesses, it is free for small teams of up to 3 and there are iOS and Android apps available.  Use the ChronoSheets API to create your own custom integrations.  Before starting, sign up for a ChronoSheets account at <a target='_BLANK' href='http://tsheets.xyz/signup'>http://tsheets.xyz/signup</a>.  </p></div><div id='cs-extra-info'></div>
 *
 * The version of the OpenAPI document: v1
 * 
 *
 * NOTE: This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * https://openapi-generator.tech
 * Do not edit the class manually.
 */


package ChronoSheetsClientLibApi;

import ChronoSheetsClient.ApiCallback;
import ChronoSheetsClient.ApiClient;
import ChronoSheetsClient.ApiException;
import ChronoSheetsClient.ApiResponse;
import ChronoSheetsClient.Configuration;
import ChronoSheetsClient.Pair;
import ChronoSheetsClient.ProgressRequestBody;
import ChronoSheetsClient.ProgressResponseBody;

import com.google.gson.reflect.TypeToken;

import java.io.IOException;


import ChronoSheetsClientLibModel.ApiResponseForPaginatedListOrgReportTranscript;
import ChronoSheetsClientLibModel.ApiResponseTranscription;
import org.threeten.bp.OffsetDateTime;

import java.lang.reflect.Type;
import java.util.ArrayList;
import java.util.HashMap;
import java.util.List;
import java.util.Map;

public class TranscriptsApi {
    private ApiClient localVarApiClient;

    public TranscriptsApi() {
        this(Configuration.getDefaultApiClient());
    }

    public TranscriptsApi(ApiClient apiClient) {
        this.localVarApiClient = apiClient;
    }

    public ApiClient getApiClient() {
        return localVarApiClient;
    }

    public void setApiClient(ApiClient apiClient) {
        this.localVarApiClient = apiClient;
    }

    /**
     * Build call for transcriptsGetMyTranscript
     * @param fileAttachmentId The ID of the file attachment that has a transcript.  It should be an audio file attachment. (required)
     * @param xChronosheetsAuth The ChronoSheets Auth Token (required)
     * @param _callback Callback for upload/download progress
     * @return Call to execute
     * @throws ApiException If fail to serialize the request body object
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td> OK </td><td>  -  </td></tr>
     </table>
     */
    public okhttp3.Call transcriptsGetMyTranscriptCall(Integer fileAttachmentId, String xChronosheetsAuth, final ApiCallback _callback) throws ApiException {
        Object localVarPostBody = null;

        // create path and map variables
        String localVarPath = "/Transcripts/GetMyTranscript";

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();
        if (fileAttachmentId != null) {
            localVarQueryParams.addAll(localVarApiClient.parameterToPair("FileAttachmentId", fileAttachmentId));
        }

        Map<String, String> localVarHeaderParams = new HashMap<String, String>();
        if (xChronosheetsAuth != null) {
            localVarHeaderParams.put("x-chronosheets-auth", localVarApiClient.parameterToString(xChronosheetsAuth));
        }

        Map<String, String> localVarCookieParams = new HashMap<String, String>();
        Map<String, Object> localVarFormParams = new HashMap<String, Object>();
        final String[] localVarAccepts = {
            "application/json", "text/json", "application/xml", "text/xml", "multipart/form-data"
        };
        final String localVarAccept = localVarApiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) {
            localVarHeaderParams.put("Accept", localVarAccept);
        }

        final String[] localVarContentTypes = {
            
        };
        final String localVarContentType = localVarApiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        String[] localVarAuthNames = new String[] {  };
        return localVarApiClient.buildCall(localVarPath, "GET", localVarQueryParams, localVarCollectionQueryParams, localVarPostBody, localVarHeaderParams, localVarCookieParams, localVarFormParams, localVarAuthNames, _callback);
    }

    @SuppressWarnings("rawtypes")
    private okhttp3.Call transcriptsGetMyTranscriptValidateBeforeCall(Integer fileAttachmentId, String xChronosheetsAuth, final ApiCallback _callback) throws ApiException {
        
        // verify the required parameter 'fileAttachmentId' is set
        if (fileAttachmentId == null) {
            throw new ApiException("Missing the required parameter 'fileAttachmentId' when calling transcriptsGetMyTranscript(Async)");
        }
        
        // verify the required parameter 'xChronosheetsAuth' is set
        if (xChronosheetsAuth == null) {
            throw new ApiException("Missing the required parameter 'xChronosheetsAuth' when calling transcriptsGetMyTranscript(Async)");
        }
        

        okhttp3.Call localVarCall = transcriptsGetMyTranscriptCall(fileAttachmentId, xChronosheetsAuth, _callback);
        return localVarCall;

    }

    /**
     * Get an audio to text transcript for a particular audio file attachment
     * 
     * @param fileAttachmentId The ID of the file attachment that has a transcript.  It should be an audio file attachment. (required)
     * @param xChronosheetsAuth The ChronoSheets Auth Token (required)
     * @return ApiResponseTranscription
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td> OK </td><td>  -  </td></tr>
     </table>
     */
    public ApiResponseTranscription transcriptsGetMyTranscript(Integer fileAttachmentId, String xChronosheetsAuth) throws ApiException {
        ApiResponse<ApiResponseTranscription> localVarResp = transcriptsGetMyTranscriptWithHttpInfo(fileAttachmentId, xChronosheetsAuth);
        return localVarResp.getData();
    }

    /**
     * Get an audio to text transcript for a particular audio file attachment
     * 
     * @param fileAttachmentId The ID of the file attachment that has a transcript.  It should be an audio file attachment. (required)
     * @param xChronosheetsAuth The ChronoSheets Auth Token (required)
     * @return ApiResponse&lt;ApiResponseTranscription&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td> OK </td><td>  -  </td></tr>
     </table>
     */
    public ApiResponse<ApiResponseTranscription> transcriptsGetMyTranscriptWithHttpInfo(Integer fileAttachmentId, String xChronosheetsAuth) throws ApiException {
        okhttp3.Call localVarCall = transcriptsGetMyTranscriptValidateBeforeCall(fileAttachmentId, xChronosheetsAuth, null);
        Type localVarReturnType = new TypeToken<ApiResponseTranscription>(){}.getType();
        return localVarApiClient.execute(localVarCall, localVarReturnType);
    }

    /**
     * Get an audio to text transcript for a particular audio file attachment (asynchronously)
     * 
     * @param fileAttachmentId The ID of the file attachment that has a transcript.  It should be an audio file attachment. (required)
     * @param xChronosheetsAuth The ChronoSheets Auth Token (required)
     * @param _callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td> OK </td><td>  -  </td></tr>
     </table>
     */
    public okhttp3.Call transcriptsGetMyTranscriptAsync(Integer fileAttachmentId, String xChronosheetsAuth, final ApiCallback<ApiResponseTranscription> _callback) throws ApiException {

        okhttp3.Call localVarCall = transcriptsGetMyTranscriptValidateBeforeCall(fileAttachmentId, xChronosheetsAuth, _callback);
        Type localVarReturnType = new TypeToken<ApiResponseTranscription>(){}.getType();
        localVarApiClient.executeAsync(localVarCall, localVarReturnType, _callback);
        return localVarCall;
    }
    /**
     * Build call for transcriptsGetMyTranscripts
     * @param startDate The Start date of the date range.  Transcripts after this date will be obtained. (required)
     * @param endDate The End date of the date range.  Transcripts before this date will be obtained. (required)
     * @param xChronosheetsAuth The ChronoSheets Auth Token (required)
     * @param skip Skip this many transcripts (optional)
     * @param take Take this many transcripts (optional)
     * @param keyword Search the text content of the transcript keywords (optional)
     * @param _callback Callback for upload/download progress
     * @return Call to execute
     * @throws ApiException If fail to serialize the request body object
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td> OK </td><td>  -  </td></tr>
     </table>
     */
    public okhttp3.Call transcriptsGetMyTranscriptsCall(OffsetDateTime startDate, OffsetDateTime endDate, String xChronosheetsAuth, Integer skip, Integer take, String keyword, final ApiCallback _callback) throws ApiException {
        Object localVarPostBody = null;

        // create path and map variables
        String localVarPath = "/Transcripts/GetMyTranscripts";

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();
        if (startDate != null) {
            localVarQueryParams.addAll(localVarApiClient.parameterToPair("StartDate", startDate));
        }

        if (endDate != null) {
            localVarQueryParams.addAll(localVarApiClient.parameterToPair("EndDate", endDate));
        }

        if (skip != null) {
            localVarQueryParams.addAll(localVarApiClient.parameterToPair("Skip", skip));
        }

        if (take != null) {
            localVarQueryParams.addAll(localVarApiClient.parameterToPair("Take", take));
        }

        if (keyword != null) {
            localVarQueryParams.addAll(localVarApiClient.parameterToPair("Keyword", keyword));
        }

        Map<String, String> localVarHeaderParams = new HashMap<String, String>();
        if (xChronosheetsAuth != null) {
            localVarHeaderParams.put("x-chronosheets-auth", localVarApiClient.parameterToString(xChronosheetsAuth));
        }

        Map<String, String> localVarCookieParams = new HashMap<String, String>();
        Map<String, Object> localVarFormParams = new HashMap<String, Object>();
        final String[] localVarAccepts = {
            "application/json", "text/json", "application/xml", "text/xml", "multipart/form-data"
        };
        final String localVarAccept = localVarApiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) {
            localVarHeaderParams.put("Accept", localVarAccept);
        }

        final String[] localVarContentTypes = {
            
        };
        final String localVarContentType = localVarApiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        String[] localVarAuthNames = new String[] {  };
        return localVarApiClient.buildCall(localVarPath, "GET", localVarQueryParams, localVarCollectionQueryParams, localVarPostBody, localVarHeaderParams, localVarCookieParams, localVarFormParams, localVarAuthNames, _callback);
    }

    @SuppressWarnings("rawtypes")
    private okhttp3.Call transcriptsGetMyTranscriptsValidateBeforeCall(OffsetDateTime startDate, OffsetDateTime endDate, String xChronosheetsAuth, Integer skip, Integer take, String keyword, final ApiCallback _callback) throws ApiException {
        
        // verify the required parameter 'startDate' is set
        if (startDate == null) {
            throw new ApiException("Missing the required parameter 'startDate' when calling transcriptsGetMyTranscripts(Async)");
        }
        
        // verify the required parameter 'endDate' is set
        if (endDate == null) {
            throw new ApiException("Missing the required parameter 'endDate' when calling transcriptsGetMyTranscripts(Async)");
        }
        
        // verify the required parameter 'xChronosheetsAuth' is set
        if (xChronosheetsAuth == null) {
            throw new ApiException("Missing the required parameter 'xChronosheetsAuth' when calling transcriptsGetMyTranscripts(Async)");
        }
        

        okhttp3.Call localVarCall = transcriptsGetMyTranscriptsCall(startDate, endDate, xChronosheetsAuth, skip, take, keyword, _callback);
        return localVarCall;

    }

    /**
     * Get my file transcripts.  Get audio to text transcripts that you&#39;ve created.
     * 
     * @param startDate The Start date of the date range.  Transcripts after this date will be obtained. (required)
     * @param endDate The End date of the date range.  Transcripts before this date will be obtained. (required)
     * @param xChronosheetsAuth The ChronoSheets Auth Token (required)
     * @param skip Skip this many transcripts (optional)
     * @param take Take this many transcripts (optional)
     * @param keyword Search the text content of the transcript keywords (optional)
     * @return ApiResponseForPaginatedListOrgReportTranscript
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td> OK </td><td>  -  </td></tr>
     </table>
     */
    public ApiResponseForPaginatedListOrgReportTranscript transcriptsGetMyTranscripts(OffsetDateTime startDate, OffsetDateTime endDate, String xChronosheetsAuth, Integer skip, Integer take, String keyword) throws ApiException {
        ApiResponse<ApiResponseForPaginatedListOrgReportTranscript> localVarResp = transcriptsGetMyTranscriptsWithHttpInfo(startDate, endDate, xChronosheetsAuth, skip, take, keyword);
        return localVarResp.getData();
    }

    /**
     * Get my file transcripts.  Get audio to text transcripts that you&#39;ve created.
     * 
     * @param startDate The Start date of the date range.  Transcripts after this date will be obtained. (required)
     * @param endDate The End date of the date range.  Transcripts before this date will be obtained. (required)
     * @param xChronosheetsAuth The ChronoSheets Auth Token (required)
     * @param skip Skip this many transcripts (optional)
     * @param take Take this many transcripts (optional)
     * @param keyword Search the text content of the transcript keywords (optional)
     * @return ApiResponse&lt;ApiResponseForPaginatedListOrgReportTranscript&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td> OK </td><td>  -  </td></tr>
     </table>
     */
    public ApiResponse<ApiResponseForPaginatedListOrgReportTranscript> transcriptsGetMyTranscriptsWithHttpInfo(OffsetDateTime startDate, OffsetDateTime endDate, String xChronosheetsAuth, Integer skip, Integer take, String keyword) throws ApiException {
        okhttp3.Call localVarCall = transcriptsGetMyTranscriptsValidateBeforeCall(startDate, endDate, xChronosheetsAuth, skip, take, keyword, null);
        Type localVarReturnType = new TypeToken<ApiResponseForPaginatedListOrgReportTranscript>(){}.getType();
        return localVarApiClient.execute(localVarCall, localVarReturnType);
    }

    /**
     * Get my file transcripts.  Get audio to text transcripts that you&#39;ve created. (asynchronously)
     * 
     * @param startDate The Start date of the date range.  Transcripts after this date will be obtained. (required)
     * @param endDate The End date of the date range.  Transcripts before this date will be obtained. (required)
     * @param xChronosheetsAuth The ChronoSheets Auth Token (required)
     * @param skip Skip this many transcripts (optional)
     * @param take Take this many transcripts (optional)
     * @param keyword Search the text content of the transcript keywords (optional)
     * @param _callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td> OK </td><td>  -  </td></tr>
     </table>
     */
    public okhttp3.Call transcriptsGetMyTranscriptsAsync(OffsetDateTime startDate, OffsetDateTime endDate, String xChronosheetsAuth, Integer skip, Integer take, String keyword, final ApiCallback<ApiResponseForPaginatedListOrgReportTranscript> _callback) throws ApiException {

        okhttp3.Call localVarCall = transcriptsGetMyTranscriptsValidateBeforeCall(startDate, endDate, xChronosheetsAuth, skip, take, keyword, _callback);
        Type localVarReturnType = new TypeToken<ApiResponseForPaginatedListOrgReportTranscript>(){}.getType();
        localVarApiClient.executeAsync(localVarCall, localVarReturnType, _callback);
        return localVarCall;
    }
}
