openapi: 3.0.1
info:
  description: "<div style='font-size: 14px!important;font-family: Open Sans,sans-serif!important;color:\
    \ #3b4151!important;'><p>\r\n    ChronoSheets is a flexible timesheet solution\
    \ for small to medium businesses, it is free for small teams of up to 3 and there\
    \ are iOS and Android apps available.  Use the ChronoSheets API to create your\
    \ own custom integrations.  Before starting, sign up for a ChronoSheets account\
    \ at <a target='_BLANK' href='http://tsheets.xyz/signup'>http://tsheets.xyz/signup</a>.\r\
    \n</p></div><div id='cs-extra-info'></div>"
  termsOfService: ""
  title: ChronoSheets API
  version: v1
servers:
- url: https://api.chronosheets.com/
paths:
  /AggregateClientProjects/GetAggregateClientProjects:
    get:
      operationId: AggregateClientProjects_GetAggregateClientProjects
      parameters:
      - description: The ChronoSheets Auth Token
        in: header
        name: x-chronosheets-auth
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponse[List[AggregateClient]]'
            text/json:
              schema:
                $ref: '#/components/schemas/ApiResponse[List[AggregateClient]]'
            application/xml:
              schema:
                $ref: '#/components/schemas/ApiResponse[List[AggregateClient]]'
            text/xml:
              schema:
                $ref: '#/components/schemas/ApiResponse[List[AggregateClient]]'
            multipart/form-data:
              schema:
                $ref: '#/components/schemas/ApiResponse[List[AggregateClient]]'
          description: OK
      summary: "Get client and project information, aggregated.  \r\nRequires the\
        \ 'SubmitTimesheets' or 'ManageClientsAndProjects' permissions."
      tags:
      - AggregateClientProjects
      x-accepts: application/json
  /AggregateJobTasks/GetAggregateJobTasks:
    get:
      operationId: AggregateJobTasks_GetAggregateJobTasks
      parameters:
      - description: The ChronoSheets Auth Token
        in: header
        name: x-chronosheets-auth
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponse[List[AggregateJobCode]]'
            text/json:
              schema:
                $ref: '#/components/schemas/ApiResponse[List[AggregateJobCode]]'
            application/xml:
              schema:
                $ref: '#/components/schemas/ApiResponse[List[AggregateJobCode]]'
            text/xml:
              schema:
                $ref: '#/components/schemas/ApiResponse[List[AggregateJobCode]]'
            multipart/form-data:
              schema:
                $ref: '#/components/schemas/ApiResponse[List[AggregateJobCode]]'
          description: OK
      summary: "Get jobs and tasks information, aggregated.  \r\nRequires the 'SubmitTimesheets'\
        \ or 'ManageJobsAndTask' permissions."
      tags:
      - AggregateJobTasks
      x-accepts: application/json
  /Clients/GetClients:
    get:
      operationId: Clients_GetClients
      parameters:
      - description: The ChronoSheets Auth Token
        in: header
        name: x-chronosheets-auth
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponse[List[Client]]'
            text/json:
              schema:
                $ref: '#/components/schemas/ApiResponse[List[Client]]'
            application/xml:
              schema:
                $ref: '#/components/schemas/ApiResponse[List[Client]]'
            text/xml:
              schema:
                $ref: '#/components/schemas/ApiResponse[List[Client]]'
            multipart/form-data:
              schema:
                $ref: '#/components/schemas/ApiResponse[List[Client]]'
          description: OK
      summary: "Get a collection of clients that are under your organisation.  \r\n\
        Requires the 'ManageClientsAndProjects' or 'ManageJobsAndTask' permissions."
      tags:
      - Clients
      x-accepts: application/json
  /Clients/GetClient:
    get:
      operationId: Clients_GetClient
      parameters:
      - description: The ID of the Client you want to get
        in: query
        name: ClientId
        required: true
        schema:
          format: int32
          type: integer
      - description: The ChronoSheets Auth Token
        in: header
        name: x-chronosheets-auth
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponse[Client]'
            text/json:
              schema:
                $ref: '#/components/schemas/ApiResponse[Client]'
            application/xml:
              schema:
                $ref: '#/components/schemas/ApiResponse[Client]'
            text/xml:
              schema:
                $ref: '#/components/schemas/ApiResponse[Client]'
            multipart/form-data:
              schema:
                $ref: '#/components/schemas/ApiResponse[Client]'
          description: OK
      summary: "Get a particular client.  \r\nRequires the 'ManageClientsAndProjects'\
        \ or 'ManageJobsAndTask' permissions."
      tags:
      - Clients
      x-accepts: application/json
  /Clients/CreateClient:
    post:
      operationId: Clients_CreateClient
      parameters:
      - description: The ChronoSheets Auth Token
        in: header
        name: x-chronosheets-auth
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/InsertClientRequest'
          text/json:
            schema:
              $ref: '#/components/schemas/InsertClientRequest'
          application/xml:
            schema:
              $ref: '#/components/schemas/InsertClientRequest'
          text/xml:
            schema:
              $ref: '#/components/schemas/InsertClientRequest'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/InsertClientRequest'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/InsertClientRequest'
        description: An Insert Client Request object containing values for the new
          Client to create
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponse[Int32]'
            text/json:
              schema:
                $ref: '#/components/schemas/ApiResponse[Int32]'
            application/xml:
              schema:
                $ref: '#/components/schemas/ApiResponse[Int32]'
            text/xml:
              schema:
                $ref: '#/components/schemas/ApiResponse[Int32]'
            multipart/form-data:
              schema:
                $ref: '#/components/schemas/ApiResponse[Int32]'
          description: OK
      summary: "Create a client.  \r\nRequires the 'ManageClientsAndProjects' permission."
      tags:
      - Clients
      x-codegen-request-body-name: request
      x-contentType: application/json
      x-accepts: application/json
  /Clients/UpdateClient:
    put:
      operationId: Clients_UpdateClient
      parameters:
      - description: The ChronoSheets Auth Token
        in: header
        name: x-chronosheets-auth
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SaveClientRequest'
          text/json:
            schema:
              $ref: '#/components/schemas/SaveClientRequest'
          application/xml:
            schema:
              $ref: '#/components/schemas/SaveClientRequest'
          text/xml:
            schema:
              $ref: '#/components/schemas/SaveClientRequest'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/SaveClientRequest'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/SaveClientRequest'
        description: A Save Client Request object containing updated fields.  Make
          sure to specify the Client Id in the request object so that ChronoSheets
          knows which Client to update
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponse[Boolean]'
            text/json:
              schema:
                $ref: '#/components/schemas/ApiResponse[Boolean]'
            application/xml:
              schema:
                $ref: '#/components/schemas/ApiResponse[Boolean]'
            text/xml:
              schema:
                $ref: '#/components/schemas/ApiResponse[Boolean]'
            multipart/form-data:
              schema:
                $ref: '#/components/schemas/ApiResponse[Boolean]'
          description: OK
      summary: "Update a client.  \r\nRequires the 'ManageClientsAndProjects' permission."
      tags:
      - Clients
      x-codegen-request-body-name: request
      x-contentType: application/json
      x-accepts: application/json
  /FileAttachments/DeleteTimesheetFileAttachment:
    delete:
      operationId: FileAttachments_DeleteTimesheetFileAttachment
      parameters:
      - description: The Id of the file attachment to delete
        in: query
        name: FileAttachmentId
        required: true
        schema:
          format: int32
          type: integer
      - description: The ChronoSheets Auth Token
        in: header
        name: x-chronosheets-auth
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponse[Boolean]'
            text/json:
              schema:
                $ref: '#/components/schemas/ApiResponse[Boolean]'
            application/xml:
              schema:
                $ref: '#/components/schemas/ApiResponse[Boolean]'
            text/xml:
              schema:
                $ref: '#/components/schemas/ApiResponse[Boolean]'
            multipart/form-data:
              schema:
                $ref: '#/components/schemas/ApiResponse[Boolean]'
          description: OK
      summary: "Delete a particular timesheet file attachment\r\nRequires the 'SubmitTimesheets'\
        \ permission."
      tags:
      - FileAttachments
      x-accepts: application/json
  /FileAttachments/GetMyFileAttachments:
    get:
      operationId: FileAttachments_GetMyFileAttachments
      parameters:
      - description: The Start date of the date range.  File attachments after this
          date will be obtained.
        in: query
        name: StartDate
        required: true
        schema:
          format: date-time
          type: string
      - description: The End date of the date range.  File attachments before this
          date will be obtained.
        in: query
        name: EndDate
        required: true
        schema:
          format: date-time
          type: string
      - description: Skip this many File attachments
        in: query
        name: Skip
        schema:
          format: int32
          type: integer
      - description: Take this many File attachments
        in: query
        name: Take
        schema:
          format: int32
          type: integer
      - description: The ChronoSheets Auth Token
        in: header
        name: x-chronosheets-auth
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseForPaginated[List[TimesheetFileAttachment]]'
            text/json:
              schema:
                $ref: '#/components/schemas/ApiResponseForPaginated[List[TimesheetFileAttachment]]'
            application/xml:
              schema:
                $ref: '#/components/schemas/ApiResponseForPaginated[List[TimesheetFileAttachment]]'
            text/xml:
              schema:
                $ref: '#/components/schemas/ApiResponseForPaginated[List[TimesheetFileAttachment]]'
            multipart/form-data:
              schema:
                $ref: '#/components/schemas/ApiResponseForPaginated[List[TimesheetFileAttachment]]'
          description: OK
      summary: Get my file attachments.  Get files you've attached to timesheets.
      tags:
      - FileAttachments
      x-accepts: application/json
  /FileAttachments/GetFileAttachmentById:
    get:
      operationId: FileAttachments_GetFileAttachmentById
      parameters:
      - description: The ID of the file attachment
        in: query
        name: FileAttachmentId
        required: true
        schema:
          format: int32
          type: integer
      - description: The ChronoSheets Auth Token
        in: header
        name: x-chronosheets-auth
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponse[TimesheetFileAttachment]'
            text/json:
              schema:
                $ref: '#/components/schemas/ApiResponse[TimesheetFileAttachment]'
            application/xml:
              schema:
                $ref: '#/components/schemas/ApiResponse[TimesheetFileAttachment]'
            text/xml:
              schema:
                $ref: '#/components/schemas/ApiResponse[TimesheetFileAttachment]'
            multipart/form-data:
              schema:
                $ref: '#/components/schemas/ApiResponse[TimesheetFileAttachment]'
          description: OK
      summary: Get a particular file attachment by ID.  User must own the file attachment
        for access.
      tags:
      - FileAttachments
      x-accepts: application/json
  /Fleet/GetVehicles:
    get:
      operationId: Fleet_GetVehicles
      parameters:
      - description: Whether or not to include deleted vehicles
        in: query
        name: IncludeDeleted
        schema:
          type: boolean
      - description: The ChronoSheets Auth Token
        in: header
        name: x-chronosheets-auth
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponse[List[FleetVehicle]]'
            text/json:
              schema:
                $ref: '#/components/schemas/ApiResponse[List[FleetVehicle]]'
            application/xml:
              schema:
                $ref: '#/components/schemas/ApiResponse[List[FleetVehicle]]'
            text/xml:
              schema:
                $ref: '#/components/schemas/ApiResponse[List[FleetVehicle]]'
            multipart/form-data:
              schema:
                $ref: '#/components/schemas/ApiResponse[List[FleetVehicle]]'
          description: OK
      summary: "Get a collection of vehicles that are under your organisation.  \r\
        \nDoes not require any special permission."
      tags:
      - Fleet
      x-accepts: application/json
  /Fleet/GetVehicleById:
    get:
      operationId: Fleet_GetVehicleById
      parameters:
      - description: The ID of the Vehicle you want to get
        in: query
        name: VehicleId
        required: true
        schema:
          format: int32
          type: integer
      - description: The ChronoSheets Auth Token
        in: header
        name: x-chronosheets-auth
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponse[FleetVehicle]'
            text/json:
              schema:
                $ref: '#/components/schemas/ApiResponse[FleetVehicle]'
            application/xml:
              schema:
                $ref: '#/components/schemas/ApiResponse[FleetVehicle]'
            text/xml:
              schema:
                $ref: '#/components/schemas/ApiResponse[FleetVehicle]'
            multipart/form-data:
              schema:
                $ref: '#/components/schemas/ApiResponse[FleetVehicle]'
          description: OK
      summary: "Get a particular vehicle.\r\nDoes not require any special permission."
      tags:
      - Fleet
      x-accepts: application/json
  /Fleet/CreateVehicle:
    post:
      operationId: Fleet_CreateVehicle
      parameters:
      - description: The ChronoSheets Auth Token
        in: header
        name: x-chronosheets-auth
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/InsertVehicleRequest'
          text/json:
            schema:
              $ref: '#/components/schemas/InsertVehicleRequest'
          application/xml:
            schema:
              $ref: '#/components/schemas/InsertVehicleRequest'
          text/xml:
            schema:
              $ref: '#/components/schemas/InsertVehicleRequest'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/InsertVehicleRequest'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/InsertVehicleRequest'
        description: An Insert Vehicle Request object containing values for the new
          Vehicle to create
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponse[Int32]'
            text/json:
              schema:
                $ref: '#/components/schemas/ApiResponse[Int32]'
            application/xml:
              schema:
                $ref: '#/components/schemas/ApiResponse[Int32]'
            text/xml:
              schema:
                $ref: '#/components/schemas/ApiResponse[Int32]'
            multipart/form-data:
              schema:
                $ref: '#/components/schemas/ApiResponse[Int32]'
          description: OK
      summary: "Create a vehicle.  \r\nRequires the 'ManageFleet' permission."
      tags:
      - Fleet
      x-codegen-request-body-name: request
      x-contentType: application/json
      x-accepts: application/json
  /Fleet/UpdateVehicle:
    put:
      operationId: Fleet_UpdateVehicle
      parameters:
      - description: The ChronoSheets Auth Token
        in: header
        name: x-chronosheets-auth
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SaveVehicleRequest'
          text/json:
            schema:
              $ref: '#/components/schemas/SaveVehicleRequest'
          application/xml:
            schema:
              $ref: '#/components/schemas/SaveVehicleRequest'
          text/xml:
            schema:
              $ref: '#/components/schemas/SaveVehicleRequest'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/SaveVehicleRequest'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/SaveVehicleRequest'
        description: A Save Vehicle Request object containing updated fields.  Make
          sure to specify the Vehicle Id in the request object so that ChronoSheets
          knows which Vehicle to update
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponse[Boolean]'
            text/json:
              schema:
                $ref: '#/components/schemas/ApiResponse[Boolean]'
            application/xml:
              schema:
                $ref: '#/components/schemas/ApiResponse[Boolean]'
            text/xml:
              schema:
                $ref: '#/components/schemas/ApiResponse[Boolean]'
            multipart/form-data:
              schema:
                $ref: '#/components/schemas/ApiResponse[Boolean]'
          description: OK
      summary: "Update a vehicle.  \r\nRequires the 'ManageFleet' permission."
      tags:
      - Fleet
      x-codegen-request-body-name: request
      x-contentType: application/json
      x-accepts: application/json
  /Fleet/DeleteVehicle:
    delete:
      operationId: Fleet_DeleteVehicle
      parameters:
      - description: The unique ID of the vehicle you wish to delete
        in: query
        name: VehicleId
        required: true
        schema:
          format: int32
          type: integer
      - description: The ChronoSheets Auth Token
        in: header
        name: x-chronosheets-auth
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponse[Boolean]'
            text/json:
              schema:
                $ref: '#/components/schemas/ApiResponse[Boolean]'
            application/xml:
              schema:
                $ref: '#/components/schemas/ApiResponse[Boolean]'
            text/xml:
              schema:
                $ref: '#/components/schemas/ApiResponse[Boolean]'
            multipart/form-data:
              schema:
                $ref: '#/components/schemas/ApiResponse[Boolean]'
          description: OK
      summary: "Delete a vehicle from the fleet.\r\nRequires the 'ManageFleet' permission."
      tags:
      - Fleet
      x-accepts: application/json
  /GeoFencing/CreateGeofence:
    post:
      operationId: GeoFencing_CreateGeofence
      parameters:
      - description: The ChronoSheets Auth Token
        in: header
        name: x-chronosheets-auth
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateGeoFenceRequest'
          text/json:
            schema:
              $ref: '#/components/schemas/CreateGeoFenceRequest'
          application/xml:
            schema:
              $ref: '#/components/schemas/CreateGeoFenceRequest'
          text/xml:
            schema:
              $ref: '#/components/schemas/CreateGeoFenceRequest'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/CreateGeoFenceRequest'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/CreateGeoFenceRequest'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponse[Int32]'
            text/json:
              schema:
                $ref: '#/components/schemas/ApiResponse[Int32]'
            application/xml:
              schema:
                $ref: '#/components/schemas/ApiResponse[Int32]'
            text/xml:
              schema:
                $ref: '#/components/schemas/ApiResponse[Int32]'
            multipart/form-data:
              schema:
                $ref: '#/components/schemas/ApiResponse[Int32]'
          description: OK
      summary: "Create a geofencing with rules to be used for clock on/off automation.\r\
        \nRequires the 'ManageGeofencing' permission."
      tags:
      - GeoFencing
      x-codegen-request-body-name: request
      x-contentType: application/json
      x-accepts: application/json
  /GeoFencing/UpdateGeofence:
    put:
      operationId: GeoFencing_UpdateGeofence
      parameters:
      - description: The ChronoSheets Auth Token
        in: header
        name: x-chronosheets-auth
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateGeoFenceRequest'
          text/json:
            schema:
              $ref: '#/components/schemas/UpdateGeoFenceRequest'
          application/xml:
            schema:
              $ref: '#/components/schemas/UpdateGeoFenceRequest'
          text/xml:
            schema:
              $ref: '#/components/schemas/UpdateGeoFenceRequest'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/UpdateGeoFenceRequest'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/UpdateGeoFenceRequest'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponse[Int32]'
            text/json:
              schema:
                $ref: '#/components/schemas/ApiResponse[Int32]'
            application/xml:
              schema:
                $ref: '#/components/schemas/ApiResponse[Int32]'
            text/xml:
              schema:
                $ref: '#/components/schemas/ApiResponse[Int32]'
            multipart/form-data:
              schema:
                $ref: '#/components/schemas/ApiResponse[Int32]'
          description: OK
      summary: "Updates a geofencing with rules to be used for clock on/off automation.\r\
        \nRequires the 'ManageGeofencing' permission."
      tags:
      - GeoFencing
      x-codegen-request-body-name: request
      x-contentType: application/json
      x-accepts: application/json
  /GeoFencing/GetGeofenceById:
    get:
      operationId: GeoFencing_GetGeofenceById
      parameters:
      - description: The ID of the geofence you want to obtain
        in: query
        name: GeofenceId
        required: true
        schema:
          format: int32
          type: integer
      - description: The ChronoSheets Auth Token
        in: header
        name: x-chronosheets-auth
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponse[Geofence]'
            text/json:
              schema:
                $ref: '#/components/schemas/ApiResponse[Geofence]'
            application/xml:
              schema:
                $ref: '#/components/schemas/ApiResponse[Geofence]'
            text/xml:
              schema:
                $ref: '#/components/schemas/ApiResponse[Geofence]'
            multipart/form-data:
              schema:
                $ref: '#/components/schemas/ApiResponse[Geofence]'
          description: OK
      summary: "Get a geofence by ID\r\nRequires the 'SubmitTimesheets' permission."
      tags:
      - GeoFencing
      x-accepts: application/json
  /GeoFencing/DeleteGeofence:
    delete:
      operationId: GeoFencing_DeleteGeofence
      parameters:
      - description: Specify the geofence you want to delete with the geofence ID.
        in: query
        name: GeofenceId
        required: true
        schema:
          format: int32
          type: integer
      - description: The ChronoSheets Auth Token
        in: header
        name: x-chronosheets-auth
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponse[Geofence]'
            text/json:
              schema:
                $ref: '#/components/schemas/ApiResponse[Geofence]'
            application/xml:
              schema:
                $ref: '#/components/schemas/ApiResponse[Geofence]'
            text/xml:
              schema:
                $ref: '#/components/schemas/ApiResponse[Geofence]'
            multipart/form-data:
              schema:
                $ref: '#/components/schemas/ApiResponse[Geofence]'
          description: OK
      summary: "Deletes a geofence.\r\nRequires the 'ManageGeofencing' permission."
      tags:
      - GeoFencing
      x-accepts: application/json
  /GeoFencing/GetGeofences:
    get:
      operationId: GeoFencing_GetGeofences
      parameters:
      - description: Number of records to skip
        in: query
        name: Skip
        schema:
          format: int32
          type: integer
      - description: Number of records to take
        in: query
        name: Take
        schema:
          format: int32
          type: integer
      - description: The ChronoSheets Auth Token
        in: header
        name: x-chronosheets-auth
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseForPaginated[List[ExtendedGeofence]]'
            text/json:
              schema:
                $ref: '#/components/schemas/ApiResponseForPaginated[List[ExtendedGeofence]]'
            application/xml:
              schema:
                $ref: '#/components/schemas/ApiResponseForPaginated[List[ExtendedGeofence]]'
            text/xml:
              schema:
                $ref: '#/components/schemas/ApiResponseForPaginated[List[ExtendedGeofence]]'
            multipart/form-data:
              schema:
                $ref: '#/components/schemas/ApiResponseForPaginated[List[ExtendedGeofence]]'
          description: OK
      summary: "Get geofences belonging to your organisation\r\nRequires the 'SubmitTimesheets'\
        \ permission."
      tags:
      - GeoFencing
      x-accepts: application/json
  /GeoFencing/GetGeofencesBasicInfo:
    get:
      operationId: GeoFencing_GetGeofencesBasicInfo
      parameters:
      - description: The ChronoSheets Auth Token
        in: header
        name: x-chronosheets-auth
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseForPaginated[List[BasicGeofence]]'
            text/json:
              schema:
                $ref: '#/components/schemas/ApiResponseForPaginated[List[BasicGeofence]]'
            application/xml:
              schema:
                $ref: '#/components/schemas/ApiResponseForPaginated[List[BasicGeofence]]'
            text/xml:
              schema:
                $ref: '#/components/schemas/ApiResponseForPaginated[List[BasicGeofence]]'
            multipart/form-data:
              schema:
                $ref: '#/components/schemas/ApiResponseForPaginated[List[BasicGeofence]]'
          description: OK
      summary: Gets a list of all geofences in your organisation, including just the
        name and ID.
      tags:
      - GeoFencing
      x-accepts: application/json
  /JobCodes/GetJobCodeById:
    get:
      operationId: JobCodes_GetJobCodeById
      parameters:
      - description: The ID of the JobCode you want to get
        in: query
        name: JobCodeId
        required: true
        schema:
          format: int32
          type: integer
      - description: The ChronoSheets Auth Token
        in: header
        name: x-chronosheets-auth
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponse[JobCode]'
            text/json:
              schema:
                $ref: '#/components/schemas/ApiResponse[JobCode]'
            application/xml:
              schema:
                $ref: '#/components/schemas/ApiResponse[JobCode]'
            text/xml:
              schema:
                $ref: '#/components/schemas/ApiResponse[JobCode]'
            multipart/form-data:
              schema:
                $ref: '#/components/schemas/ApiResponse[JobCode]'
          description: OK
      summary: "Get a particular job code by job code id.  \r\nRequires 'SubmitTimesheets'\
        \ or 'ManageJobsAndTasks' permissions."
      tags:
      - JobCodes
      x-accepts: application/json
  /JobCodes/GetJobCodes:
    get:
      operationId: JobCodes_GetJobCodes
      parameters:
      - description: The ChronoSheets Auth Token
        in: header
        name: x-chronosheets-auth
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponse[List[JobCode]]'
            text/json:
              schema:
                $ref: '#/components/schemas/ApiResponse[List[JobCode]]'
            application/xml:
              schema:
                $ref: '#/components/schemas/ApiResponse[List[JobCode]]'
            text/xml:
              schema:
                $ref: '#/components/schemas/ApiResponse[List[JobCode]]'
            multipart/form-data:
              schema:
                $ref: '#/components/schemas/ApiResponse[List[JobCode]]'
          description: OK
      summary: "Get job codes for your organisation.  \r\nRequires 'SubmitTimesheets'\
        \ or 'ManageJobsAndTasks' permissions."
      tags:
      - JobCodes
      x-accepts: application/json
  /JobCodes/CreateJobCode:
    post:
      operationId: JobCodes_CreateJobCode
      parameters:
      - description: The ChronoSheets Auth Token
        in: header
        name: x-chronosheets-auth
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/InsertJobCodeRequest'
          text/json:
            schema:
              $ref: '#/components/schemas/InsertJobCodeRequest'
          application/xml:
            schema:
              $ref: '#/components/schemas/InsertJobCodeRequest'
          text/xml:
            schema:
              $ref: '#/components/schemas/InsertJobCodeRequest'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/InsertJobCodeRequest'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/InsertJobCodeRequest'
        description: An Insert JobCode Request object containing values for the new
          JobCode to create
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponse[Int32]'
            text/json:
              schema:
                $ref: '#/components/schemas/ApiResponse[Int32]'
            application/xml:
              schema:
                $ref: '#/components/schemas/ApiResponse[Int32]'
            text/xml:
              schema:
                $ref: '#/components/schemas/ApiResponse[Int32]'
            multipart/form-data:
              schema:
                $ref: '#/components/schemas/ApiResponse[Int32]'
          description: OK
      summary: "Create a job code.  \r\nRequires the 'ManageJobsAndTask' permission."
      tags:
      - JobCodes
      x-codegen-request-body-name: request
      x-contentType: application/json
      x-accepts: application/json
  /JobCodes/UpdateJobCode:
    put:
      operationId: JobCodes_UpdateJobCode
      parameters:
      - description: The ChronoSheets Auth Token
        in: header
        name: x-chronosheets-auth
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateJobCodeRequest'
          text/json:
            schema:
              $ref: '#/components/schemas/UpdateJobCodeRequest'
          application/xml:
            schema:
              $ref: '#/components/schemas/UpdateJobCodeRequest'
          text/xml:
            schema:
              $ref: '#/components/schemas/UpdateJobCodeRequest'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/UpdateJobCodeRequest'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/UpdateJobCodeRequest'
        description: A Update JobCode Request object containing updated fields.  Make
          sure to specify the JobCode Id in the request object so that ChronoSheets
          knows which JobCode to update
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponse[Boolean]'
            text/json:
              schema:
                $ref: '#/components/schemas/ApiResponse[Boolean]'
            application/xml:
              schema:
                $ref: '#/components/schemas/ApiResponse[Boolean]'
            text/xml:
              schema:
                $ref: '#/components/schemas/ApiResponse[Boolean]'
            multipart/form-data:
              schema:
                $ref: '#/components/schemas/ApiResponse[Boolean]'
          description: OK
      summary: "Update a job code.  \r\nRequires the 'ManageJobsAndTask' permission."
      tags:
      - JobCodes
      x-codegen-request-body-name: request
      x-contentType: application/json
      x-accepts: application/json
  /JobCodes/DeleteJobCode:
    delete:
      operationId: JobCodes_DeleteJobCode
      parameters:
      - description: The ID of the job code you want to delete
        in: query
        name: JobCodeId
        required: true
        schema:
          format: int32
          type: integer
      - description: The ChronoSheets Auth Token
        in: header
        name: x-chronosheets-auth
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponse[Boolean]'
            text/json:
              schema:
                $ref: '#/components/schemas/ApiResponse[Boolean]'
            application/xml:
              schema:
                $ref: '#/components/schemas/ApiResponse[Boolean]'
            text/xml:
              schema:
                $ref: '#/components/schemas/ApiResponse[Boolean]'
            multipart/form-data:
              schema:
                $ref: '#/components/schemas/ApiResponse[Boolean]'
          description: OK
      summary: "Delete a job code.  \r\nRequires the 'ManageJobsAndTask' permission."
      tags:
      - JobCodes
      x-accepts: application/json
  /Organisation/UpdateOrganisation:
    put:
      operationId: Organisation_UpdateOrganisation
      parameters:
      - description: The ChronoSheets Auth Token
        in: header
        name: x-chronosheets-auth
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateOrganisationRequest'
          text/json:
            schema:
              $ref: '#/components/schemas/UpdateOrganisationRequest'
          application/xml:
            schema:
              $ref: '#/components/schemas/UpdateOrganisationRequest'
          text/xml:
            schema:
              $ref: '#/components/schemas/UpdateOrganisationRequest'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/UpdateOrganisationRequest'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/UpdateOrganisationRequest'
        description: An Update Organsation Request object containing updated fields.  Make
          sure to specify the Organsation Id in the request object so that ChronoSheets
          knows which Organsation to update
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponse[UpdateOrganisationResponse]'
            text/json:
              schema:
                $ref: '#/components/schemas/ApiResponse[UpdateOrganisationResponse]'
            application/xml:
              schema:
                $ref: '#/components/schemas/ApiResponse[UpdateOrganisationResponse]'
            text/xml:
              schema:
                $ref: '#/components/schemas/ApiResponse[UpdateOrganisationResponse]'
            multipart/form-data:
              schema:
                $ref: '#/components/schemas/ApiResponse[UpdateOrganisationResponse]'
          description: OK
      summary: "Update an organisation.  \r\nRequires 'OrganisationAdmin' permission."
      tags:
      - Organisation
      x-codegen-request-body-name: request
      x-contentType: application/json
      x-accepts: application/json
  /Organisation/GetOrganisation:
    get:
      operationId: Organisation_GetOrganisation
      parameters:
      - description: The ChronoSheets Auth Token
        in: header
        name: x-chronosheets-auth
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponse[Organisation]'
            text/json:
              schema:
                $ref: '#/components/schemas/ApiResponse[Organisation]'
            application/xml:
              schema:
                $ref: '#/components/schemas/ApiResponse[Organisation]'
            text/xml:
              schema:
                $ref: '#/components/schemas/ApiResponse[Organisation]'
            multipart/form-data:
              schema:
                $ref: '#/components/schemas/ApiResponse[Organisation]'
          description: OK
      summary: "Get your organisation.  \r\nRequires 'OrganisationAdmin' permission."
      tags:
      - Organisation
      x-accepts: application/json
  /OrganisationGroups/GetOrganisationGroups:
    get:
      operationId: OrganisationGroups_GetOrganisationGroups
      parameters:
      - description: The ChronoSheets Auth Token
        in: header
        name: x-chronosheets-auth
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponse[List[OrganisationGroup]]'
            text/json:
              schema:
                $ref: '#/components/schemas/ApiResponse[List[OrganisationGroup]]'
            application/xml:
              schema:
                $ref: '#/components/schemas/ApiResponse[List[OrganisationGroup]]'
            text/xml:
              schema:
                $ref: '#/components/schemas/ApiResponse[List[OrganisationGroup]]'
            multipart/form-data:
              schema:
                $ref: '#/components/schemas/ApiResponse[List[OrganisationGroup]]'
          description: OK
      summary: "Get a collection of organisation groups that are under your organisation.\
        \  \r\nRequires the 'ManageOrganisationGroups', 'ManageJobsAndTask', 'ManageClientsAndProjects'\
        \ or 'ManageOrganisationUsers' permissions."
      tags:
      - OrganisationGroups
      x-accepts: application/json
  /OrganisationGroups/GetOrganisationGroup:
    get:
      operationId: OrganisationGroups_GetOrganisationGroup
      parameters:
      - description: The ID of the OrganisationGroup you want to get
        in: query
        name: OrganisationGroupId
        required: true
        schema:
          format: int32
          type: integer
      - description: The ChronoSheets Auth Token
        in: header
        name: x-chronosheets-auth
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponse[OrganisationGroup]'
            text/json:
              schema:
                $ref: '#/components/schemas/ApiResponse[OrganisationGroup]'
            application/xml:
              schema:
                $ref: '#/components/schemas/ApiResponse[OrganisationGroup]'
            text/xml:
              schema:
                $ref: '#/components/schemas/ApiResponse[OrganisationGroup]'
            multipart/form-data:
              schema:
                $ref: '#/components/schemas/ApiResponse[OrganisationGroup]'
          description: OK
      summary: "Get a particular organisation group.  \r\nRequires the 'ManageOrganisationGroups',\
        \ 'ManageJobsAndTask', 'ManageClientsAndProjects' or 'ManageOrganisationUsers'\
        \ permissions."
      tags:
      - OrganisationGroups
      x-accepts: application/json
  /OrganisationGroups/CreateOrganisationGroup:
    post:
      operationId: OrganisationGroups_CreateOrganisationGroup
      parameters:
      - description: The ChronoSheets Auth Token
        in: header
        name: x-chronosheets-auth
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/InsertOrganisationGroupRequest'
          text/json:
            schema:
              $ref: '#/components/schemas/InsertOrganisationGroupRequest'
          application/xml:
            schema:
              $ref: '#/components/schemas/InsertOrganisationGroupRequest'
          text/xml:
            schema:
              $ref: '#/components/schemas/InsertOrganisationGroupRequest'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/InsertOrganisationGroupRequest'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/InsertOrganisationGroupRequest'
        description: An Insert OrganisationGroup Request object containing values
          for the new OrganisationGroup to create
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponse[Int32]'
            text/json:
              schema:
                $ref: '#/components/schemas/ApiResponse[Int32]'
            application/xml:
              schema:
                $ref: '#/components/schemas/ApiResponse[Int32]'
            text/xml:
              schema:
                $ref: '#/components/schemas/ApiResponse[Int32]'
            multipart/form-data:
              schema:
                $ref: '#/components/schemas/ApiResponse[Int32]'
          description: OK
      summary: "Create an organisation group.  \r\nRequires the 'ManageOrganisationGroups'\
        \ permissions."
      tags:
      - OrganisationGroups
      x-codegen-request-body-name: request
      x-contentType: application/json
      x-accepts: application/json
  /OrganisationGroups/UpdateOrganisationGroup:
    put:
      operationId: OrganisationGroups_UpdateOrganisationGroup
      parameters:
      - description: The ChronoSheets Auth Token
        in: header
        name: x-chronosheets-auth
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SaveOrganisationGroupRequest'
          text/json:
            schema:
              $ref: '#/components/schemas/SaveOrganisationGroupRequest'
          application/xml:
            schema:
              $ref: '#/components/schemas/SaveOrganisationGroupRequest'
          text/xml:
            schema:
              $ref: '#/components/schemas/SaveOrganisationGroupRequest'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/SaveOrganisationGroupRequest'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/SaveOrganisationGroupRequest'
        description: A Save OrganisationGroup Request object containing updated fields.  Make
          sure to specify the OrganisationGroup Id in the request object so that ChronoSheets
          knows which OrganisationGroup to update
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponse[Boolean]'
            text/json:
              schema:
                $ref: '#/components/schemas/ApiResponse[Boolean]'
            application/xml:
              schema:
                $ref: '#/components/schemas/ApiResponse[Boolean]'
            text/xml:
              schema:
                $ref: '#/components/schemas/ApiResponse[Boolean]'
            multipart/form-data:
              schema:
                $ref: '#/components/schemas/ApiResponse[Boolean]'
          description: OK
      summary: "Update an organisation group.  \r\nRequires the 'ManageOrganisationGroups'\
        \ permissions."
      tags:
      - OrganisationGroups
      x-codegen-request-body-name: request
      x-contentType: application/json
      x-accepts: application/json
  /OrganisationGroups/GetOrganisationGroupsForJob:
    get:
      operationId: OrganisationGroups_GetOrganisationGroupsForJob
      parameters:
      - description: The ID of the job
        in: query
        name: JobId
        required: true
        schema:
          format: int32
          type: integer
      - description: The ChronoSheets Auth Token
        in: header
        name: x-chronosheets-auth
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponse[List[OrganisationGroup]]'
            text/json:
              schema:
                $ref: '#/components/schemas/ApiResponse[List[OrganisationGroup]]'
            application/xml:
              schema:
                $ref: '#/components/schemas/ApiResponse[List[OrganisationGroup]]'
            text/xml:
              schema:
                $ref: '#/components/schemas/ApiResponse[List[OrganisationGroup]]'
            multipart/form-data:
              schema:
                $ref: '#/components/schemas/ApiResponse[List[OrganisationGroup]]'
          description: OK
      summary: "Get org groups for a particular job.  \r\nRequires the 'ManageOrganisationGroups',\
        \ 'ManageJobsAndTask', 'ManageClientsAndProjects' or 'ManageOrganisationUsers'\
        \ permissions."
      tags:
      - OrganisationGroups
      x-accepts: application/json
  /OrganisationGroups/GetOrganisationGroupsForVehicle:
    get:
      operationId: OrganisationGroups_GetOrganisationGroupsForVehicle
      parameters:
      - description: The ID of the vehicle
        in: query
        name: VehicleId
        required: true
        schema:
          format: int32
          type: integer
      - description: The ChronoSheets Auth Token
        in: header
        name: x-chronosheets-auth
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponse[List[OrganisationGroup]]'
            text/json:
              schema:
                $ref: '#/components/schemas/ApiResponse[List[OrganisationGroup]]'
            application/xml:
              schema:
                $ref: '#/components/schemas/ApiResponse[List[OrganisationGroup]]'
            text/xml:
              schema:
                $ref: '#/components/schemas/ApiResponse[List[OrganisationGroup]]'
            multipart/form-data:
              schema:
                $ref: '#/components/schemas/ApiResponse[List[OrganisationGroup]]'
          description: OK
      summary: "Get org groups for a particular vehicle.  \r\nRequires the 'ManageOrganisationGroups',\
        \ 'ManageFleet' or 'ManageOrganisationUsers' permissions."
      tags:
      - OrganisationGroups
      x-accepts: application/json
  /OrganisationGroups/DeleteOrganisationGroup:
    delete:
      operationId: OrganisationGroups_DeleteOrganisationGroup
      parameters:
      - in: query
        name: OrganisationGroupId
        required: true
        schema:
          format: int32
          type: integer
      - description: The ChronoSheets Auth Token
        in: header
        name: x-chronosheets-auth
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponse[Boolean]'
            text/json:
              schema:
                $ref: '#/components/schemas/ApiResponse[Boolean]'
            application/xml:
              schema:
                $ref: '#/components/schemas/ApiResponse[Boolean]'
            text/xml:
              schema:
                $ref: '#/components/schemas/ApiResponse[Boolean]'
            multipart/form-data:
              schema:
                $ref: '#/components/schemas/ApiResponse[Boolean]'
          description: OK
      tags:
      - OrganisationGroups
      x-accepts: application/json
  /OrganisationGroupUsers/GetOrganisationGroupUsers:
    get:
      operationId: OrganisationGroupUsers_GetOrganisationGroupUsers
      parameters:
      - description: An OrganisationGroup Id
        in: query
        name: orgGroupId
        required: true
        schema:
          format: int32
          type: integer
      - description: The ChronoSheets Auth Token
        in: header
        name: x-chronosheets-auth
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponse[List[UserForManagement]]'
            text/json:
              schema:
                $ref: '#/components/schemas/ApiResponse[List[UserForManagement]]'
            application/xml:
              schema:
                $ref: '#/components/schemas/ApiResponse[List[UserForManagement]]'
            text/xml:
              schema:
                $ref: '#/components/schemas/ApiResponse[List[UserForManagement]]'
            multipart/form-data:
              schema:
                $ref: '#/components/schemas/ApiResponse[List[UserForManagement]]'
          description: OK
      summary: "Get a collection of organisation group users that belong to an organisation\
        \ group.  \r\nRequires the 'ManageOrganisationGroups' or 'ManageOrganisationUsers'\
        \ permissions."
      tags:
      - OrganisationGroupUsers
      x-accepts: application/json
  /OrganisationGroupUsers/UpdateOrganisationGroupUsers:
    put:
      operationId: OrganisationGroupUsers_UpdateOrganisationGroupUsers
      parameters:
      - description: The ChronoSheets Auth Token
        in: header
        name: x-chronosheets-auth
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SetOrganisationGroupUsersRequest'
          text/json:
            schema:
              $ref: '#/components/schemas/SetOrganisationGroupUsersRequest'
          application/xml:
            schema:
              $ref: '#/components/schemas/SetOrganisationGroupUsersRequest'
          text/xml:
            schema:
              $ref: '#/components/schemas/SetOrganisationGroupUsersRequest'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/SetOrganisationGroupUsersRequest'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/SetOrganisationGroupUsersRequest'
        description: A request object specifying which users belong to an organisation
          group.  Make sure to specify the OrganisationGroup Id in the request object
          so that ChronoSheets knows which OrganisationGroup to update. CsvUserIds
          is a comma separated list of User Ids, e.g. 1,2,3,4
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponse[Boolean]'
            text/json:
              schema:
                $ref: '#/components/schemas/ApiResponse[Boolean]'
            application/xml:
              schema:
                $ref: '#/components/schemas/ApiResponse[Boolean]'
            text/xml:
              schema:
                $ref: '#/components/schemas/ApiResponse[Boolean]'
            multipart/form-data:
              schema:
                $ref: '#/components/schemas/ApiResponse[Boolean]'
          description: OK
      summary: "Set the users who belong to an organisation group.  \r\nRequires the\
        \ 'ManageOrganisationGroups' permissions."
      tags:
      - OrganisationGroupUsers
      x-codegen-request-body-name: request
      x-contentType: application/json
      x-accepts: application/json
  /Projects/GetProjectsForClient:
    get:
      operationId: Projects_GetProjectsForClient
      parameters:
      - description: The ID of the client
        in: query
        name: ClientId
        required: true
        schema:
          format: int32
          type: integer
      - description: The ChronoSheets Auth Token
        in: header
        name: x-chronosheets-auth
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponse[List[Project]]'
            text/json:
              schema:
                $ref: '#/components/schemas/ApiResponse[List[Project]]'
            application/xml:
              schema:
                $ref: '#/components/schemas/ApiResponse[List[Project]]'
            text/xml:
              schema:
                $ref: '#/components/schemas/ApiResponse[List[Project]]'
            multipart/form-data:
              schema:
                $ref: '#/components/schemas/ApiResponse[List[Project]]'
          description: OK
      summary: "Get projects for a particular client.  \r\nRequires the 'ManageClientsAndProjects'\
        \ or 'ManageJobsAndTask' permissions."
      tags:
      - Projects
      x-accepts: application/json
  /Projects/GetProjectById:
    get:
      operationId: Projects_GetProjectById
      parameters:
      - description: The ID of the Project you want to get
        in: query
        name: ProjectId
        required: true
        schema:
          format: int32
          type: integer
      - description: The ChronoSheets Auth Token
        in: header
        name: x-chronosheets-auth
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponse[Project]'
            text/json:
              schema:
                $ref: '#/components/schemas/ApiResponse[Project]'
            application/xml:
              schema:
                $ref: '#/components/schemas/ApiResponse[Project]'
            text/xml:
              schema:
                $ref: '#/components/schemas/ApiResponse[Project]'
            multipart/form-data:
              schema:
                $ref: '#/components/schemas/ApiResponse[Project]'
          description: OK
      summary: "Get a project by its Id.  \r\nRequires the 'ManageClientsAndProjects'\
        \ or 'ManageJobsAndTask' permissions."
      tags:
      - Projects
      x-accepts: application/json
  /Projects/CreateProject:
    post:
      operationId: Projects_CreateProject
      parameters:
      - description: The ChronoSheets Auth Token
        in: header
        name: x-chronosheets-auth
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/InsertProjectRequest'
          text/json:
            schema:
              $ref: '#/components/schemas/InsertProjectRequest'
          application/xml:
            schema:
              $ref: '#/components/schemas/InsertProjectRequest'
          text/xml:
            schema:
              $ref: '#/components/schemas/InsertProjectRequest'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/InsertProjectRequest'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/InsertProjectRequest'
        description: An Insert Project Request object containing values for the new
          Project to create.  Make sure to specify a correct Client Id - this will
          be used to attach the new project under that client.
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponse[Int32]'
            text/json:
              schema:
                $ref: '#/components/schemas/ApiResponse[Int32]'
            application/xml:
              schema:
                $ref: '#/components/schemas/ApiResponse[Int32]'
            text/xml:
              schema:
                $ref: '#/components/schemas/ApiResponse[Int32]'
            multipart/form-data:
              schema:
                $ref: '#/components/schemas/ApiResponse[Int32]'
          description: OK
      summary: "Create a project.  \r\nRequires the 'ManageClientsAndProjects' permission."
      tags:
      - Projects
      x-codegen-request-body-name: request
      x-contentType: application/json
      x-accepts: application/json
  /Projects/UpdateProject:
    put:
      operationId: Projects_UpdateProject
      parameters:
      - description: The ChronoSheets Auth Token
        in: header
        name: x-chronosheets-auth
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateProjectRequest'
          text/json:
            schema:
              $ref: '#/components/schemas/UpdateProjectRequest'
          application/xml:
            schema:
              $ref: '#/components/schemas/UpdateProjectRequest'
          text/xml:
            schema:
              $ref: '#/components/schemas/UpdateProjectRequest'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/UpdateProjectRequest'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/UpdateProjectRequest'
        description: An Update Project Request object containing updated fields.  Make
          sure to specify the Project Id in the request object so that ChronoSheets
          knows which Project to update
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponse[Boolean]'
            text/json:
              schema:
                $ref: '#/components/schemas/ApiResponse[Boolean]'
            application/xml:
              schema:
                $ref: '#/components/schemas/ApiResponse[Boolean]'
            text/xml:
              schema:
                $ref: '#/components/schemas/ApiResponse[Boolean]'
            multipart/form-data:
              schema:
                $ref: '#/components/schemas/ApiResponse[Boolean]'
          description: OK
      summary: "Update a project.  \r\nRequires the 'ManageClientsAndProjects' permission."
      tags:
      - Projects
      x-codegen-request-body-name: request
      x-contentType: application/json
      x-accepts: application/json
  /Reports/UserJobsOverTime:
    get:
      operationId: Reports_UserJobsOverTime
      parameters:
      - description: The start date for the date range.  Report data in the response
          is after this date
        in: query
        name: StartDate
        required: true
        schema:
          format: date-time
          type: string
      - description: The end date for the date range.  Report data in the response
          is before this date
        in: query
        name: EndDate
        required: true
        schema:
          format: date-time
          type: string
      - description: The ChronoSheets Auth Token
        in: header
        name: x-chronosheets-auth
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponse[List[JobSeriesReportItem]]'
            text/json:
              schema:
                $ref: '#/components/schemas/ApiResponse[List[JobSeriesReportItem]]'
            application/xml:
              schema:
                $ref: '#/components/schemas/ApiResponse[List[JobSeriesReportItem]]'
            text/xml:
              schema:
                $ref: '#/components/schemas/ApiResponse[List[JobSeriesReportItem]]'
            multipart/form-data:
              schema:
                $ref: '#/components/schemas/ApiResponse[List[JobSeriesReportItem]]'
          description: OK
      summary: "Timeseries jobs data for the logged in user.  \r\nRequires the 'ViewOwnReports'\
        \ or 'SubmitTimesheets'."
      tags:
      - Reports
      x-accepts: application/json
  /Reports/GetAllChartsDataUser:
    get:
      operationId: Reports_GetAllChartsDataUser
      parameters:
      - description: The start date for the date range.  Report data in the response
          is after this date
        in: query
        name: StartDate
        required: true
        schema:
          format: date-time
          type: string
      - description: The end date for the date range.  Report data in the response
          is before this date
        in: query
        name: EndDate
        required: true
        schema:
          format: date-time
          type: string
      - description: The ChronoSheets Auth Token
        in: header
        name: x-chronosheets-auth
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponse[CombinedReportsData]'
            text/json:
              schema:
                $ref: '#/components/schemas/ApiResponse[CombinedReportsData]'
            application/xml:
              schema:
                $ref: '#/components/schemas/ApiResponse[CombinedReportsData]'
            text/xml:
              schema:
                $ref: '#/components/schemas/ApiResponse[CombinedReportsData]'
            multipart/form-data:
              schema:
                $ref: '#/components/schemas/ApiResponse[CombinedReportsData]'
          description: OK
      summary: "Get Consolidated User Reports Data (Jobs, Tasks, Clients and Projects).\
        \  These are the user's own reports.  \r\nRequires the 'ViewOwnReports' permission."
      tags:
      - Reports
      x-accepts: application/json
  /Reports/GetAllChartsDataAdmin:
    get:
      operationId: Reports_GetAllChartsDataAdmin
      parameters:
      - description: The start date for the date range.  Report data in the response
          is after this date
        in: query
        name: StartDate
        required: true
        schema:
          format: date-time
          type: string
      - description: The end date for the date range.  Report data in the response
          is before this date
        in: query
        name: EndDate
        required: true
        schema:
          format: date-time
          type: string
      - description: A comma-separated list of user Ids, if you want to filter the
          report data to particular users.  If you want all, send a blank string.
        in: query
        name: UserIds
        schema:
          type: string
      - description: A flag to indicate which report data you require.  Choose a particular
          set of data, or if you want all data use the 'NotForced' option.
        in: query
        name: ForceOnlyThisChart
        schema:
          enum:
          - NotForced
          - SeriesJobCodes
          - SeriesClients
          - SeriesProjects
          - SeriesTasks
          - TotalsClients
          - TotalsJobCodes
          - TotalsProjects
          - TotalsTasks
          type: string
      - description: The ChronoSheets Auth Token
        in: header
        name: x-chronosheets-auth
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponse[CombinedReportsData]'
            text/json:
              schema:
                $ref: '#/components/schemas/ApiResponse[CombinedReportsData]'
            application/xml:
              schema:
                $ref: '#/components/schemas/ApiResponse[CombinedReportsData]'
            text/xml:
              schema:
                $ref: '#/components/schemas/ApiResponse[CombinedReportsData]'
            multipart/form-data:
              schema:
                $ref: '#/components/schemas/ApiResponse[CombinedReportsData]'
          description: OK
      summary: "Get Consolidated Admin Reports Data (Jobs, Tasks, Clients and Projects).\
        \  These are the organisation wide reports, with data from potentially all\
        \ employees.  \r\nRequires the 'ReportAdmin' permission."
      tags:
      - Reports
      x-accepts: application/json
  /Reports/GetRawDataAdmin:
    get:
      operationId: Reports_GetRawDataAdmin
      parameters:
      - description: The start date for the date range.  Report data in the response
          is after this date
        in: query
        name: StartDate
        required: true
        schema:
          format: date-time
          type: string
      - description: The end date for the date range.  Report data in the response
          is before this date
        in: query
        name: EndDate
        required: true
        schema:
          format: date-time
          type: string
      - description: A comma-separated list of user Ids, if you want to filter the
          report data to particular users.  If you want all, send a blank string.
        in: query
        name: UserIds
        schema:
          type: string
      - description: Decide which column to sort on
        in: query
        name: Sort
        schema:
          enum:
          - EmailAddress
          - JobCode
          - TaskName
          - ClientName
          - ProjectName
          - StartDate
          - EndDate
          - SpanSeconds
          - Description
          - PayAmount
          - PayOvertimeAmount
          - TripCost
          - TripDistanceMeters
          - Username
          type: string
      - description: Decide which direction to sort the column
        in: query
        name: Order
        schema:
          enum:
          - Ascending
          - Descending
          type: string
      - description: Skip this many rows
        in: query
        name: Skip
        schema:
          format: int32
          type: integer
      - description: Take this many rows
        in: query
        name: Take
        schema:
          format: int32
          type: integer
      - description: The ChronoSheets Auth Token
        in: header
        name: x-chronosheets-auth
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseForPaginated[List[RawReportItem]]'
            text/json:
              schema:
                $ref: '#/components/schemas/ApiResponseForPaginated[List[RawReportItem]]'
            application/xml:
              schema:
                $ref: '#/components/schemas/ApiResponseForPaginated[List[RawReportItem]]'
            text/xml:
              schema:
                $ref: '#/components/schemas/ApiResponseForPaginated[List[RawReportItem]]'
            multipart/form-data:
              schema:
                $ref: '#/components/schemas/ApiResponseForPaginated[List[RawReportItem]]'
          description: OK
      summary: "Get Timesheets Raw Data.  This data details each timesheet record.\
        \  These are the organisation wide timesheet records, with data from potentially\
        \ all employees.  \r\nRequires the 'ReportAdmin' permission."
      tags:
      - Reports
      x-accepts: application/json
  /Reports/ProjectCostingsAdmin:
    get:
      operationId: Reports_ProjectCostingsAdmin
      parameters:
      - description: The start date for the date range.  Report data in the response
          is after this date
        in: query
        name: StartDate
        required: true
        schema:
          format: date-time
          type: string
      - description: The end date for the date range.  Report data in the response
          is before this date
        in: query
        name: EndDate
        required: true
        schema:
          format: date-time
          type: string
      - description: A comma-separated list of user Ids, if you want to filter the
          report data to particular users.  If you want all, send a blank string.
        in: query
        name: UserIds
        schema:
          type: string
      - description: The ChronoSheets Auth Token
        in: header
        name: x-chronosheets-auth
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponse[List[ProjectCostingReportItem]]'
            text/json:
              schema:
                $ref: '#/components/schemas/ApiResponse[List[ProjectCostingReportItem]]'
            application/xml:
              schema:
                $ref: '#/components/schemas/ApiResponse[List[ProjectCostingReportItem]]'
            text/xml:
              schema:
                $ref: '#/components/schemas/ApiResponse[List[ProjectCostingReportItem]]'
            multipart/form-data:
              schema:
                $ref: '#/components/schemas/ApiResponse[List[ProjectCostingReportItem]]'
          description: OK
      summary: "Gets project cost estimations VS actual cost for date range and users.\
        \  \r\nRequires the 'ReportAdmin' permission."
      tags:
      - Reports
      x-accepts: application/json
  /Reports/GetOrganisationTrips:
    get:
      operationId: Reports_GetOrganisationTrips
      parameters:
      - description: The start date for the date range.  Report data in the response
          is after this date
        in: query
        name: StartDate
        required: true
        schema:
          format: date-time
          type: string
      - description: The end date for the date range.  Report data in the response
          is before this date
        in: query
        name: EndDate
        required: true
        schema:
          format: date-time
          type: string
      - description: Skip this many items
        in: query
        name: Skip
        schema:
          format: int32
          type: integer
      - description: Take this many items
        in: query
        name: Take
        schema:
          format: int32
          type: integer
      - description: A comma-separated list of user Ids, if you want to filter the
          report data to particular users.  If you want all, send a blank string.
        in: query
        name: UserIds
        schema:
          type: string
      - description: The ChronoSheets Auth Token
        in: header
        name: x-chronosheets-auth
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseForPaginated[List[OrgReportTrip]]'
            text/json:
              schema:
                $ref: '#/components/schemas/ApiResponseForPaginated[List[OrgReportTrip]]'
            application/xml:
              schema:
                $ref: '#/components/schemas/ApiResponseForPaginated[List[OrgReportTrip]]'
            text/xml:
              schema:
                $ref: '#/components/schemas/ApiResponseForPaginated[List[OrgReportTrip]]'
            multipart/form-data:
              schema:
                $ref: '#/components/schemas/ApiResponseForPaginated[List[OrgReportTrip]]'
          description: OK
      summary: "Reports on Organisation trips (GPS tracking from whole organisation).\
        \  \r\nRequires the 'ReportAdmin' permission."
      tags:
      - Reports
      x-accepts: application/json
  /Reports/GetOrganisationTimesheetFileAttachments:
    get:
      operationId: Reports_GetOrganisationTimesheetFileAttachments
      parameters:
      - description: The start date for the date range.  Report data in the response
          is after this date
        in: query
        name: StartDate
        required: true
        schema:
          format: date-time
          type: string
      - description: The end date for the date range.  Report data in the response
          is before this date
        in: query
        name: EndDate
        required: true
        schema:
          format: date-time
          type: string
      - description: Skip this many items
        in: query
        name: Skip
        schema:
          format: int32
          type: integer
      - description: Take this many items
        in: query
        name: Take
        schema:
          format: int32
          type: integer
      - description: A comma-separated list of user Ids, if you want to filter the
          report data to particular users.  If you want all, send a blank string.
        in: query
        name: UserIds
        schema:
          type: string
      - description: The ChronoSheets Auth Token
        in: header
        name: x-chronosheets-auth
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseForPaginated[List[OrgReportTimesheetFileAttachment]]'
            text/json:
              schema:
                $ref: '#/components/schemas/ApiResponseForPaginated[List[OrgReportTimesheetFileAttachment]]'
            application/xml:
              schema:
                $ref: '#/components/schemas/ApiResponseForPaginated[List[OrgReportTimesheetFileAttachment]]'
            text/xml:
              schema:
                $ref: '#/components/schemas/ApiResponseForPaginated[List[OrgReportTimesheetFileAttachment]]'
            multipart/form-data:
              schema:
                $ref: '#/components/schemas/ApiResponseForPaginated[List[OrgReportTimesheetFileAttachment]]'
          description: OK
      summary: "Reports on Organisation timesheet file attachments (files uploaded\
        \ and attached to timesheet records)\r\nRequires the 'ReportAdmin' permission."
      tags:
      - Reports
      x-accepts: application/json
  /Reports/GetOrganisationTranscripts:
    get:
      operationId: Reports_GetOrganisationTranscripts
      parameters:
      - description: The start date for the date range.  Report data in the response
          is after this date
        in: query
        name: StartDate
        required: true
        schema:
          format: date-time
          type: string
      - description: The end date for the date range.  Report data in the response
          is before this date
        in: query
        name: EndDate
        required: true
        schema:
          format: date-time
          type: string
      - description: Skip this many items
        in: query
        name: Skip
        schema:
          format: int32
          type: integer
      - description: Take this many items
        in: query
        name: Take
        schema:
          format: int32
          type: integer
      - description: A comma-separated list of user Ids, if you want to filter the
          report data to particular users.  If you want all, send a blank string.
        in: query
        name: UserIds
        schema:
          type: string
      - description: Search the transcripts by keyword(s)
        in: query
        name: Keywords
        schema:
          type: string
      - description: The ChronoSheets Auth Token
        in: header
        name: x-chronosheets-auth
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseForPaginated[List[OrgReportTranscript]]'
            text/json:
              schema:
                $ref: '#/components/schemas/ApiResponseForPaginated[List[OrgReportTranscript]]'
            application/xml:
              schema:
                $ref: '#/components/schemas/ApiResponseForPaginated[List[OrgReportTranscript]]'
            text/xml:
              schema:
                $ref: '#/components/schemas/ApiResponseForPaginated[List[OrgReportTranscript]]'
            multipart/form-data:
              schema:
                $ref: '#/components/schemas/ApiResponseForPaginated[List[OrgReportTranscript]]'
          description: OK
      summary: "Reports on Organisation transcripts (When an audio file is attached,\
        \ it will be automatically transcribed, these are the transcriptions)  \r\n\
        Requires the 'ReportAdmin' permission."
      tags:
      - Reports
      x-accepts: application/json
  /Reports/GetOrgTripById:
    get:
      operationId: Reports_GetOrgTripById
      parameters:
      - description: The ID of the Trip you want to get
        in: query
        name: TripId
        required: true
        schema:
          format: int32
          type: integer
      - description: The ChronoSheets Auth Token
        in: header
        name: x-chronosheets-auth
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponse[Trip]'
            text/json:
              schema:
                $ref: '#/components/schemas/ApiResponse[Trip]'
            application/xml:
              schema:
                $ref: '#/components/schemas/ApiResponse[Trip]'
            text/xml:
              schema:
                $ref: '#/components/schemas/ApiResponse[Trip]'
            multipart/form-data:
              schema:
                $ref: '#/components/schemas/ApiResponse[Trip]'
          description: OK
      summary: "Get trip by Id, for reporting purposes.  \r\nRequires the 'ReportAdmin'\
        \ permission."
      tags:
      - Reports
      x-accepts: application/json
  /Reports/GetFleetSummaryAdmin:
    get:
      operationId: Reports_GetFleetSummaryAdmin
      parameters:
      - description: The start date for the date range.  Report data in the response
          is after this date
        in: query
        name: StartDate
        required: true
        schema:
          format: date-time
          type: string
      - description: The end date for the date range.  Report data in the response
          is before this date
        in: query
        name: EndDate
        required: true
        schema:
          format: date-time
          type: string
      - description: A comma-separated list of user Ids, if you want to filter the
          report data to particular users.  If you want all, send a blank string.
        in: query
        name: UserIds
        schema:
          type: string
      - description: The ChronoSheets Auth Token
        in: header
        name: x-chronosheets-auth
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponse[List[FleetSummaryReportItem]]'
            text/json:
              schema:
                $ref: '#/components/schemas/ApiResponse[List[FleetSummaryReportItem]]'
            application/xml:
              schema:
                $ref: '#/components/schemas/ApiResponse[List[FleetSummaryReportItem]]'
            text/xml:
              schema:
                $ref: '#/components/schemas/ApiResponse[List[FleetSummaryReportItem]]'
            multipart/form-data:
              schema:
                $ref: '#/components/schemas/ApiResponse[List[FleetSummaryReportItem]]'
          description: OK
      summary: "Gets a summary report, which includes total distance travelled and\
        \ total running costs, for vehicles within your organisation\r\nRequires the\
        \ 'ReportAdmin' permission."
      tags:
      - Reports
      x-accepts: application/json
  /Tasks/GetTasks:
    get:
      operationId: Tasks_GetTasks
      parameters:
      - description: The ChronoSheets Auth Token
        in: header
        name: x-chronosheets-auth
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponse[List[TimesheetTask]]'
            text/json:
              schema:
                $ref: '#/components/schemas/ApiResponse[List[TimesheetTask]]'
            application/xml:
              schema:
                $ref: '#/components/schemas/ApiResponse[List[TimesheetTask]]'
            text/xml:
              schema:
                $ref: '#/components/schemas/ApiResponse[List[TimesheetTask]]'
            multipart/form-data:
              schema:
                $ref: '#/components/schemas/ApiResponse[List[TimesheetTask]]'
          description: OK
      summary: "Get tasks in your organisation. \r\nRequires the 'SubmitTimesheets'\
        \ or 'ManageJobsAndTask' permissions."
      tags:
      - Tasks
      x-accepts: application/json
  /Tasks/GetTaskById:
    get:
      operationId: Tasks_GetTaskById
      parameters:
      - description: The ID of the TimesheetTask you want to get
        in: query
        name: TaskId
        required: true
        schema:
          format: int32
          type: integer
      - description: The ChronoSheets Auth Token
        in: header
        name: x-chronosheets-auth
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponse[TimesheetTask]'
            text/json:
              schema:
                $ref: '#/components/schemas/ApiResponse[TimesheetTask]'
            application/xml:
              schema:
                $ref: '#/components/schemas/ApiResponse[TimesheetTask]'
            text/xml:
              schema:
                $ref: '#/components/schemas/ApiResponse[TimesheetTask]'
            multipart/form-data:
              schema:
                $ref: '#/components/schemas/ApiResponse[TimesheetTask]'
          description: OK
      summary: "Get a particular task by Id. \r\nRequires the 'SubmitTimesheets' or\
        \ 'ManageJobsAndTask' permissions."
      tags:
      - Tasks
      x-accepts: application/json
  /Tasks/GetTasksForJob:
    get:
      operationId: Tasks_GetTasksForJob
      parameters:
      - description: The ID of the job
        in: query
        name: JobId
        required: true
        schema:
          format: int32
          type: integer
      - description: The ChronoSheets Auth Token
        in: header
        name: x-chronosheets-auth
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponse[List[TimesheetTask]]'
            text/json:
              schema:
                $ref: '#/components/schemas/ApiResponse[List[TimesheetTask]]'
            application/xml:
              schema:
                $ref: '#/components/schemas/ApiResponse[List[TimesheetTask]]'
            text/xml:
              schema:
                $ref: '#/components/schemas/ApiResponse[List[TimesheetTask]]'
            multipart/form-data:
              schema:
                $ref: '#/components/schemas/ApiResponse[List[TimesheetTask]]'
          description: OK
      summary: "Get a collection of tasks for a particular Job, specified by JobId.\
        \  \r\nRequires the 'SubmitTimesheets' or 'ManageJobsAndTask' permissions."
      tags:
      - Tasks
      x-accepts: application/json
  /Tasks/CreateTask:
    post:
      operationId: Tasks_CreateTask
      parameters:
      - description: The ChronoSheets Auth Token
        in: header
        name: x-chronosheets-auth
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/InsertTaskRequest'
          text/json:
            schema:
              $ref: '#/components/schemas/InsertTaskRequest'
          application/xml:
            schema:
              $ref: '#/components/schemas/InsertTaskRequest'
          text/xml:
            schema:
              $ref: '#/components/schemas/InsertTaskRequest'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/InsertTaskRequest'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/InsertTaskRequest'
        description: An Insert Task Request object containing values for the new Task
          to create
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponse[Int32]'
            text/json:
              schema:
                $ref: '#/components/schemas/ApiResponse[Int32]'
            application/xml:
              schema:
                $ref: '#/components/schemas/ApiResponse[Int32]'
            text/xml:
              schema:
                $ref: '#/components/schemas/ApiResponse[Int32]'
            multipart/form-data:
              schema:
                $ref: '#/components/schemas/ApiResponse[Int32]'
          description: OK
      summary: "Create a task.  \r\nRequires the 'ManageJobsAndTask' permission."
      tags:
      - Tasks
      x-codegen-request-body-name: request
      x-contentType: application/json
      x-accepts: application/json
  /Tasks/UpdateTask:
    put:
      operationId: Tasks_UpdateTask
      parameters:
      - description: The ChronoSheets Auth Token
        in: header
        name: x-chronosheets-auth
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateTaskRequest'
          text/json:
            schema:
              $ref: '#/components/schemas/UpdateTaskRequest'
          application/xml:
            schema:
              $ref: '#/components/schemas/UpdateTaskRequest'
          text/xml:
            schema:
              $ref: '#/components/schemas/UpdateTaskRequest'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/UpdateTaskRequest'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/UpdateTaskRequest'
        description: An Update Task Request object containing updated fields.  Make
          sure to specify the Task Id in the request object so that ChronoSheets knows
          which Task to update
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponse[Boolean]'
            text/json:
              schema:
                $ref: '#/components/schemas/ApiResponse[Boolean]'
            application/xml:
              schema:
                $ref: '#/components/schemas/ApiResponse[Boolean]'
            text/xml:
              schema:
                $ref: '#/components/schemas/ApiResponse[Boolean]'
            multipart/form-data:
              schema:
                $ref: '#/components/schemas/ApiResponse[Boolean]'
          description: OK
      summary: "Update a task.  \r\nRequires the 'ManageJobsAndTask' permission."
      tags:
      - Tasks
      x-codegen-request-body-name: request
      x-contentType: application/json
      x-accepts: application/json
  /Tasks/DeleteTask:
    delete:
      operationId: Tasks_DeleteTask
      parameters:
      - description: The ID of the Task you want to delete
        in: query
        name: TaskId
        required: true
        schema:
          format: int32
          type: integer
      - description: The ChronoSheets Auth Token
        in: header
        name: x-chronosheets-auth
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponse[Boolean]'
            text/json:
              schema:
                $ref: '#/components/schemas/ApiResponse[Boolean]'
            application/xml:
              schema:
                $ref: '#/components/schemas/ApiResponse[Boolean]'
            text/xml:
              schema:
                $ref: '#/components/schemas/ApiResponse[Boolean]'
            multipart/form-data:
              schema:
                $ref: '#/components/schemas/ApiResponse[Boolean]'
          description: OK
      summary: "Delete a task.  \r\nRequires the 'ManageJobsAndTask' permission."
      tags:
      - Tasks
      x-accepts: application/json
  /TimesheetAutomation/CreateAutomationStep:
    post:
      operationId: TimesheetAutomation_CreateAutomationStep
      parameters:
      - description: The ChronoSheets Auth Token
        in: header
        name: x-chronosheets-auth
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateAutomationStepRequest'
          text/json:
            schema:
              $ref: '#/components/schemas/CreateAutomationStepRequest'
          application/xml:
            schema:
              $ref: '#/components/schemas/CreateAutomationStepRequest'
          text/xml:
            schema:
              $ref: '#/components/schemas/CreateAutomationStepRequest'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/CreateAutomationStepRequest'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/CreateAutomationStepRequest'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponse[Int32]'
            text/json:
              schema:
                $ref: '#/components/schemas/ApiResponse[Int32]'
            application/xml:
              schema:
                $ref: '#/components/schemas/ApiResponse[Int32]'
            text/xml:
              schema:
                $ref: '#/components/schemas/ApiResponse[Int32]'
            multipart/form-data:
              schema:
                $ref: '#/components/schemas/ApiResponse[Int32]'
          description: OK
      summary: "Creates an automation step.  Timesheet automation is determined by\
        \ looking at steps taken by the user.  Create a step to log some automation\
        \ action, such as entering a geofence or tapping on an NFC badge.\r\nRequires\
        \ the 'SubmitTimesheets' permission."
      tags:
      - TimesheetAutomation
      x-codegen-request-body-name: request
      x-contentType: application/json
      x-accepts: application/json
  /TimesheetAutomation/GetTimesheetAutomationAuditTrail:
    get:
      operationId: TimesheetAutomation_GetTimesheetAutomationAuditTrail
      parameters:
      - description: The ID of the Geofence
        in: query
        name: GeofenceId
        required: true
        schema:
          format: int32
          type: integer
      - in: query
        name: NfcId
        required: true
        schema:
          format: int32
          type: integer
      - in: query
        name: UserId
        required: true
        schema:
          format: int32
          type: integer
      - in: query
        name: Sort
        required: true
        schema:
          enum:
          - UserName
          - AutomationActionType
          - ClientDateTime
          - IsProcessed
          type: string
      - in: query
        name: Order
        required: true
        schema:
          enum:
          - Ascending
          - Descending
          type: string
      - description: Skip this many records
        in: query
        name: Skip
        schema:
          format: int32
          type: integer
      - description: Take this many records
        in: query
        name: Take
        schema:
          format: int32
          type: integer
      - description: The ChronoSheets Auth Token
        in: header
        name: x-chronosheets-auth
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseForPaginated[List[TimesheetAutomationWithOrgAndGeofence]]'
            text/json:
              schema:
                $ref: '#/components/schemas/ApiResponseForPaginated[List[TimesheetAutomationWithOrgAndGeofence]]'
            application/xml:
              schema:
                $ref: '#/components/schemas/ApiResponseForPaginated[List[TimesheetAutomationWithOrgAndGeofence]]'
            text/xml:
              schema:
                $ref: '#/components/schemas/ApiResponseForPaginated[List[TimesheetAutomationWithOrgAndGeofence]]'
            multipart/form-data:
              schema:
                $ref: '#/components/schemas/ApiResponseForPaginated[List[TimesheetAutomationWithOrgAndGeofence]]'
          description: OK
      summary: "Retrieve the timesheet automation / alerts for geofences activities\
        \ or NFC tap on/off.\r\nRequires the 'ManageGeofencing' permission."
      tags:
[...]
